.playback {
    background-color: #232323;

    grid-area: footer;
    display: grid;
    grid-template-columns: 200px minmax(500px, 1fr) 250px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.playing,
.playing-details,
.command,
.sound {
    display: grid;
}

/* Playing */
.playing {
    grid-template-columns: 3fr 1fr;
}

.playing-details {
    grid-template-columns: 90px 60px;
    place-items: center;

}

#playingcover {
    width: 50px;
}

.svg-playing>button {
    margin-top: 30px;
}

.footicons>svg:active,
.svg-playing>button>svg:active {
    cursor: pointer;
    fill: #AEFF2Bff;
}

/* Command */
.command {
    display: grid;
    height: 95px;
}

.middle-playcenter {
    display: grid;
    align-content: center;
    place-content: center;
}

.play-controls {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.time-played>p,
.time-left>p {
    color: #bababa;
    font-size: smaller;
}

.footicons {
    background-color: #232323;
    width: 32px;
    border: none;
    box-shadow: none;
}

.footicons>svg {
    fill: #bababa;
}

.play {
    background-color: #ffffff;
    padding-top: 3px;
}

.play>svg {
    fill: #232323
}

.progressbar-ctrl {
    display: grid;
    grid-template-columns: 40px 470px 40px;
    place-content: center;
}

.progressbar {
    margin: 10px 7px;
    background-color: hsla(0, 0%, 100%, .3);
    height: 4px;
    border-radius: 2px;
}

/* Sound */
.sound {
    display: grid;
    grid-template-columns: repeat(3, 30px) 150px;
    margin-right: 30px;
   margin-top: 40px;
}