:root {
    --spotify-green-hover-color: invert(28%) sepia(84%) saturate(1408%) hue-rotate(92deg) brightness(95%) contrast(104%);
    --white-hover-color: brightness(0) invert(1);
    --background-hover-gray: rgba(128, 128, 128, 0.237);
}