/* HEADER */
.header {
    grid-area: header;
    grid-template-columns: 250px 1fr;
    align-items: center;
    background-color: black;
}

.logo {
    grid-template-columns: 50px 1fr;
    gap: 5px;
    align-items: center;
    height: 100%;
    padding: 10px 20px;
}

.logo:hover {
    filter: var(--spotify-green-hover-color);
}

.header-bar {
    justify-items: end;
    align-items: center;
    background-color: rgb(6, 7, 15);
    height: 100%;
    padding-right: 10px;
}

.premium-upgrade {
    text-decoration: none;
    border: solid 1px white;
    border-radius: 30px;
    padding: 10px 40px;
}

.premium-upgrade:hover {
    filter: var(--spotify-green-hover-color)
}