:root {
  --footer-height: 96px;

  --dark-tint-000: #212121;
  --dark-tint-050: #111111;
  --dark-tint-100: #000000;

  --light-tint-000: #ffffff;
  --light-tint-010: #e6e6e6;
  --light-tint-030: #cccccc;
}

.top-shadow-light {
  box-shadow: inset 0px 1px 2px 1px rgba(255, 255, 255, 0.15);
}

.main-layout {
  height: calc(100vh - var(--footer-height));

  background-color: var(--dark-tint-000);
}

.main-navigation {
  width: 275px;

  background-color: var(--dark-tint-050);
}

.main-footer {
  height: var(--footer-height);

  background-color: var(--dark-tint-000);
}
