* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* DEBUG RULES */
  
  .debug-box-red {
    border: 1px dashed red;
  }
  
  .debug-box-green {
    border: 1px dashed green;
  }
  
  .debug-box-blue {
    border: 1px dashed blue;
  }
  
  /* MAIN LAYOUT */
  
  .app-main-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 80px;
  }
  
  .sidebar-main-content-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  .sidebar-main-content-grid .main{
    display: grid;
    grid-template-rows: 80px 1fr;
  }

  .main .main-content {
    display: grid;
    grid-template-rows: 100px auto;
    
  }

  .main-content .main-content-main {
    height: 80vh;
    display: grid;
    grid-auto-flow: row;
    overflow: scroll;
    scroll-behavior: smooth;
  }

  /* SIDEBAR LAYOUT */
  .sidebar-main-content-grid aside{
    display: grid;
    grid-template-rows: 80px auto 100px auto 1fr;
  }

  aside .sidebar-playlist-list {
    display: grid;
    grid-template-rows: auto;
  }

  /* FOOTER LAYOUT */

  .app-main-container footer {
   display: grid;
   grid-template-columns: 200px 1fr 200px
   }

   footer .footer-now-playing {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
   }



