.main-layout {
    min-height: 100vh;
}

.left-bar {
    width: 250px;
}

.two-row-grid {
    display: grid;
    grid-template-rows: 1fr auto;
}

.two-column-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.main-footer {
    height: 120px;
}

.six-column-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.three-column-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.five-column-grid {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 980px) {
    .nav-select {
        grid-template-columns: 1fr;
        place-items: center;
        gap: 25px;
    }
}