.left-menu {
    grid-area: left;
    background-color: #000000ff;
    display: grid;
    grid-template-rows: 60px 100px 200px 20% 100px;
    /* grid-template-rows: auto; */
    /* position: fixed; */
    /* height: 91%; */

    grid-template-areas:
        "logo"
        "home-list"
        "playlist"
        "."
        "bottom-menu";
}

.user-pp-nm,
.add-to-list,
div.hover {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.user-pp-nm {
    margin-top: 12px;
}

li.add-to-list {
    justify-items: center;
}

.bottom-menu {
    grid-area: bottom-menu;
    display: grid;
    place-items: center;
}

/* ul sections */
.homelist {
    grid-area: home-list;
    display: grid;
    grid-template-rows: repeat(3, 30px);
    align-content: center;
    margin-left: 14px;
}

.your-playlist {
    grid-area: playlist;
    display: grid;
    gap: 5px;
}

.create-list {
    /* grid-area: playlist; */
    /* display: grid; */
    grid-template-rows: 30px 30px 1fr;
    gap: 8px;
    margin-left: 14px;
}

.hover {
    display: grid;
    row-gap: 10px;
}

.hover:hover {
    border-left: 4px #AEFF2Bff solid;
}

.add-to-list {
    grid-template-columns: 22px, 1fr;
    margin-bottom: 15px;
}

#plus {
    width: 20px;
    border-radius: 4px;
    background-color: #A4A4A4ff;
}

#PLheading {
    margin-bottom: 10px;
}

.install {
    border-bottom: 1px solid #7B7E82ff;
    margin-left: 20px;
    margin-right: 20px;
}

/* SVG stuff */
#large-logo {
    width: 120px;
    margin-left: 15px;
    margin-top: 10px;
}


.PL1 {
    height: 20px;
}

.pp {
    margin-left: 5px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
}