* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-layout > * {
    margin: 2px;
    padding: 2px;
    border: 2px solid red;
}

.central-area > * {
    padding: 2px;
    margin: 2px;
    border: 2px solid blue;
}

/* LEFT SIDE BAR */

.left-bar {
    background-color: black;
}

h2 {
    margin-left: 5px;
    color: grey;
    font-size: 15px;
}

h3 {
    color: white;
}

.logo, .search, .playlist, .playlist-name, .download-app, .profile {
    padding: 2px;
    margin: 2px;
}

.logo {
    margin-bottom: 30px;
}

.icon-box {
    height: 45px;
    width: 45px;
    margin: 5px;
}

.add-box {
    height: 45px;
    width: 45px;
    margin: 5px;
    background-color: lightgray;
}

.plus-sign {
    margin-top: 8px;
    margin-left: 9px;
    font-size: 25px;
}

.align-center {
    align-items: center;
}

.playlist-name-list {
    list-style-type: none;
    line-height: 2;
    color: grey;
}

.download-app {
    margin-top: 95px;
}

.download-icon {
    border-radius: 50%;
    height: 20px;
}

.profile {
    border-top: 2px solid grey;
}

.pic-sm {
    margin-top: 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: lightgrey;
}

.name-sm {
    margin-top: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
}



/* BIG MAIN AREA */

.middle-area {
}

.box {
    padding: 2px;
    margin: 2px;
    border: 2px solid green;
}