:root{
    --header-color:#0D0F14;
    --main-color:#141922;
    --background-color: #141922;
    --footer-color:#181818;
    --sidebar-color: #000;
    --grey-color: #808080;
    --white-color: #fff;
}