.sidebar-nav-icon {
  height: 45px;
}

.sidebar-playlist-list-item {
  height: 50px;
}

.spotify-logo {
  width: 80%;
  margin: 10px;
  color: white;
}

.sidebar-logo-small img{
  /* display: block; */
  opacity: 0;
}

.sidebar-playlist,
.sidebar-playlist-list {
  margin: 10px;
}

.sidebar-playlist .create-playlist:hover,
.sidebar-playlist-list-item:hover {
  fill: white;
  color: white;
  cursor: pointer;
  scale: 1.01;
  font-weight: bolder;
  transition: 0.1s;
}

.sidebar-playlist h2 {
  color: white;
  font-size: medium;
  margin-bottom: 10px;
}
.sidebar-playlist span {
  color: black;
  padding: 5px 8px;
  background-color: #b2b2b2;
  border-radius: 3px;
  font-size: large;
  font-weight: 900;
}

.sidebar-nav {
  fill: #b3b3b3;
  margin: 10px;
}

.sidebar-nav-icon:hover {
  fill: white;
  color: white;
  cursor: pointer;
  scale: 1.01;
  font-weight: bolder;
  transition: 0.1s;
}

.sidebar-account svg {
  fill: #b3b3b3;
  display: inline;
  margin-left: 10px;
}

.sidebar-account h2 {
  justify-self: center;
  display: inline;
  margin-left: 20px;
}
.sidebar-account h3 {
  margin-left: 20px;
  vertical-align: top;
}
