* {
    
}
/* universal */
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
p, a, h1, h2, h3, a {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    
}
p, a {
    color: darkgray;
    
}
p:hover, a:hover {
    color: white;
    cursor: pointer;
}
h3, h2, h1 {
    color: white;
}
h2 {
    margin-bottom: 5px;
}
h3 {
    font-size: 1rem;
}

img:hover, h3:hover  {
    cursor: pointer;
}
.mainContainer {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 70px 1fr 100px;
    grid-template-areas: 
    "aside header"
    "aside main"
    /* "footer footer" */
    ;

}
/* header */
header {
    grid-area: header;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 140px;
       
}
header a {
    color: white;
    border-radius: 50px;
    border: solid 2px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right:10px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    grid-column: 2;
    
}
/* aside */
aside {
    grid-area: aside;
    background-color: #080b12;
    padding-left: 15px;
    
}
#logoTitle img {
    margin: 10px;
}

.mainNav {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    margin-top: 10px;
}
.mainNav div {
    display: grid;
    grid-template-rows: repeat(3, 20px);
    align-items: center;
    gap: 10px;
}
.mainNav img {
    height: 20px;
} 
.mainNav img:hover {
    border-left: solid 2px lightgreen ;
}
.createPlaylist {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
    align-items: center;
}
.createPlaylist img, .currentlyListening .songPlaying {
    height: 40px;
}

.playlists li {
    margin-bottom: 10px;
}
.asideFooter {
    display: grid;
    gap:10px;
    position: absolute;
    bottom: 2px;
    
}
.asideFooter div:first-child {
    border-bottom: #A3A3A3 solid 1px;
    
}
.asideFooter div:first-child img {
    height: 15px;
    
    
}
.profile a {
    color: white;
}

.asideFooter div:last-child img {
    height: 20px;
    border-radius: 50%;
    background-color: #A3A3A3 ;
}
/* main area */
main {
    display: grid;
    grid-area: main;
    background-color: #141922;
    padding-left: 15px;
}
main h2:first-of-type {
    margin-bottom: 20px;
}
main p {
    font-size: 0.7rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.libraryNavBar {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}
.libraryNavBar  ul {
    display:grid;
    gap: 5px;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
}
.libraryNavBar a:hover {
    border-bottom: solid 2px lightgreen;
}
.recentlyPlayed {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 15px;
    margin-bottom: 5%;
}
.recentlyPlayed .playlist {
    display: grid;
    grid-template-rows: 150px 75px 50px;
    justify-items: center;
}
.recentlyPlayed .playlist div {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-template-rows: 75px 75px;
}
.recentlyPlayed .playlist img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} 
.album {
    display: grid;
    grid-template-rows: 150px 75px ;
    justify-items: center;
}

.album img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.curatedPlaylists, .recommendedArtist {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 30px;
    gap: 15px;
    
    
}
.curatedMix .artist {
    display: grid;
    grid-template-rows: 150px 75px;
    
}
.curatedMix img, .artist img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.recommendedArtist {
    margin-bottom: 100px;
}
.artist img {
    border-radius: 50%;
}

/* Footer */
.footer {
    grid-area: footer;
    background-color:#282828;
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr 200px;
    position: fixed;
    padding-bottom: 10px;
    bottom: 0px;
    gap: 50px;
   
}
.currentlyListening {
    display: grid;
    grid-template-columns: 40px 100px 20px 20px;
    gap: 5px;
    align-content: center;
    padding-left: 5px;
    
}
.currentlyListening a {
    color: white;
}
.currentlyListening p {
    margin-top: 0;
    font-size: smaller;
}
.currentlyListening .icon {
    height: 1.2rem;
    margin-top: 10px;
}
.playBar {
    display: grid;
    grid-template-rows: 33px 33px;
        
}
.songNavBar {
    display: grid;
    grid-template-columns:30px 30px 30px 30px 30px ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}
.songNavBar img {
    height: 1.5rem;
}
.songNavBar img:nth-child(3) {
    height: 2rem ;
}
.songNavBar img:first-child , .songNavBar img:last-child {
    height: 1.2rem;
}

.bottomPlayBar {
    display: grid;
    grid-template-columns: 20px 0.3fr 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.progressBar {
    height: 3px;
    width: 300px;
    background-color: #5a5a5a;
    border-radius: 16px;
    
}
span {
   display: block;
   height: 110%;
   width: 60%;
   border-radius: 16px; 
   background-color: #949494;
   box-shadow: #949494 100px;
}

.selectionRight {
    display: grid;
    grid-template-columns:15px 15px 15px 100% ;
    place-items: center;
    margin-right: 100px;
    gap: 5px;
    
}
.selectionRight img {
    width: 100%;
    height: 100%;
    object-fit: fill;
} 

.slider {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    background: #c1c1c1;
    cursor: pointer;
    /* margin-top: -7px; */
}
.slider::-ms-thumb {
    border-radius: 50%;
    height: 4px;
    width: 4px;
    background: #c1c1c1;
    cursor: pointer;
}

.slider::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
}
.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color:#5a5a5a;
    animation: both;
    border-radius: 5px ;
}
