/* ------------------------------- GLOBAL ATTRIBUTES ------------------------ */
* {
    margin: 0;
    padding: 0px;  
    font-family: fantasy;
    max-height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* display: inline; */
}

.gridmain {
    grid-area: gridmain;
    display: grid;
    grid-template-areas:  
    "leftbar main"
    "nowplaying nowplaying";
    grid-template-columns: 15% 85%;
    height: 100vh;   
    overflow-y: scroll;     
}

li {
    list-style: none;
}

/* button {
    border-style: none; 
} */

/* button:hover {
    border-style: solid;
    background-color: black;
    color: white;
    border-left-color: chartreuse;
}

button:active {
    background-color: grey;
    color: white;
} */

/* ------------------------------------------LEFTBAR------------------------  */


#leftbar {
    grid-area: leftbar;
    display: grid;
    grid-template-areas: 
    "logo"
    "menubuttons"
    "allplaylist"
    "onlyprofile";
    grid-template-rows: 100px;
    grid-template-columns: 100%;    
    background-color: black;
    color: darkgray;
    height: 95%;
    overflow-y: scroll;       
}

.logobutton {
    border-style: none;
    background-color: black;
    color: white;
    padding-left: 0px;
    width: 99%;
    height: 100px;
}

.logoactual {
    padding-left: 0px;
    width: 170px;
    
}

.leftbuttons{
    display: inline;
    height: 30px;
    width: 99%;
}

.menubuttons {
    margin-bottom: 5px;
    border-style: hidden;
}

.menu {
    border-style: hidden;
    background-color: black;
    color: lightgray;
    padding-left: 15px;
    /* display: inline; */
}
.menuimg{
    max-height: 30px;
    width: 99%;
}

.menu:hover {
    /* border-style: none; */
    background-color: black;
    color: white;
    border-left-color: chartreuse;
}

.menu:active {
    background-color: grey;
    color: white;
}



.allplaylist {
    margin-top: 5px;
    margin-bottom: 5px;
}

.playlistheader {
    margin-top: 10px;
    color: white;
    font-size: 1rem;
}


/* .leftbuttons>menu>img {
    max-height: 30px;
    width: 99%;
} */

.downloadbutton {
    max-height: 30px;
    max-width: 30px;
    padding-left: 15px;
}


.profile {
    max-height: 30px;
    max-width: 30px;
    padding-left: 15px;
}


.playlist {
    background-color: black;
    color: lightgray;
    padding-left: 15px;
    margin-bottom: 5px;
}

.create {
    background-color: black;
    color: lightgray;
    padding-left: 15px;
}
.playlistheader {
    padding-left: 15px;
}

/* -----------------------------------------MAIN---------------------------- */

#main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "upgrade"
    "navbar"
    "recent"
    "foryou"
    "popular";
    grid-template-rows: 100px 50px 1fr 1fr 1fr;    
    height: 95%;
    overflow-y: scroll;    
}

.upgrade {
    background-color: rgb(28, 28, 46);  
    /* place-items: center; */
    position: sticky;
    top: 0;
}

.install {
    background-color: rgb(28, 28, 46);
    border-style: solid 2px white;
    color: white;
    border-color: white;
    border-radius: 25px;
    padding: 10px 20px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: 65vw;
    position:relative;
    /* margin-top: ; */
    /* justify-self: right; */
}

.navbar {
    background-color: rgb(32, 37, 51);
    color: white;
    text-align: center;
    position: sticky;
    top: 15%;
}

.nav {
    background-color: rgb(32, 37, 51);
    color: white;
    margin: 10px;
    border-radius: 25px;
    padding: 2px 5px 2px 5px;  
}

/* .nav:hover {
    border-bottom-color: chartreuse;
} */

.music {
    display: inline;
    background-color: rgb(32, 37, 51);
    color: white;
}

.music>ul {
    display: inline;
}

.recents>ul>li {
    display:inline;
}

.album {
    max-height: 100px;
    max-width: 100px;
}

h6  {
    color: gray;
}

.recents {
    grid-area: recents;
    display: grid;
    grid-template-areas: 
    "metal stranger quiet split cure sinister" ;
}

.mostpopular {
    grid-area: mostpopular;
    display: grid;
    grid-template-areas: 
    "young einaudi" ;
}

.albumround{
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
}

/* ------------------------------------NOW PLAYING----------------------------- */

#nowplaying {
    grid-area: nowplaying;
    background-color: darkgrey;
    color: white;
    display: grid;
    grid-template-areas:  
    "song controls volume";    
    grid-template-columns: 20% 60% 20%;
    max-height: 100%;  
}

.albumsmall {
    max-height: 30px;
    max-width: 30px;
}

.controls {
    display: grid;
    grid-area: controls;
    grid-template-areas:
    "controls"
    "slider";
    text-align: center;
}

.controller {
    max-width: 20px;
    max-height: 20px;
}

.controller>img {
    max-width: 20px;
    max-height: 20px;
    
}

