* {
    margin: 0;
    color: white;
    font-weight: bolder;
}

body {
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    display: grid;
    background-color: #000000;
    grid-template: "left-sidebar top-header" 
                   "left-sidebar main" 
                   "footer footer" / 200px 1fr;    ;
}

header {
    display: grid;
    justify-items: right;
    padding: 10px;
    align-items: center;
}

header ul li,
header ul li a {
    list-style-type: none;
    text-decoration: none;
}

header ul {
    border: solid 1px white;
    padding: 10px;
    border-radius: 20px;
}

body ol li a {
    text-decoration: none;
    text-transform: capitalize;
}

h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

nav.left-sidebar {
    grid-area: left-sidebar;
    background-color: #000000;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 100px;

    }

#spotify-logo {
    width: 70%;
    padding-bottom: 20px;
}

nav.left-sidebar ol {
    list-style-type: none;
    padding: 1px;
    margin: 0;
}

nav.left-sidebar ol li a.item-nav {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 10px;
}

.left-sidebar{
    width: 200px;
    position: fixed;
    top: 0;
    height: 100vh;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;    
}
h3, h2 {
    line-height: 2rem;
}

nav.left-sidebar ol li a.item-nav .icon-box {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
}

nav.left-sidebar ol.bottom-nav-list {
    display: grid;
    align-items: end;
}

header {
    grid-area: top-header;
    background-color: #080b12;
}

main {
    grid-area: main;
    background-color: #141922;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
}

nav.top-menu ol {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    gap: 0.5rem;
    list-style-type: none;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

#profile{
    width: 50px;
    height: 500px;
    border-radius: 50%;
}

main .content-menu {
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-transform: capitalize;
}

.recently-played {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, max-content));
    gap: 20px;
    margin-top: 30px;
}


.created-for-user-section {
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 10px;
    padding-bottom: 35px;
}

.normal-text {
    text-transform: initial;
}

.created-for-user-song,
.created-for-user-song img {
    text-align: center;
    max-width: 175px;
}

.popular-artists-section {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.artists,
.artists img {
    text-align: center;
    max-width: 175px;
    border-radius: 50%;
}


audio {
    width: 80%;
    margin: 0 auto;
    background-color: #282828;
    border-radius: none;
}

.song-playing img {
    width: 50px;
    height: 50px;
}

.left-footer-details{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 2;
    align-items: center;
}

.right-footer-icons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    justify-content: end;
}

.left-footer-icons{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.song-playing {
    text-align: center;
    display: grid;
    row-gap: 20px;
    place-self: center;
}

.song img {
    max-width: 175px;
}

.right-items {
    place-self: center;
}


.playing-items {
    place-self: center;
}

.footer-top-icons{
    display: grid;
    grid-template-columns: repeat(5, minmax(20px, max-content));
    gap: 12px;
    justify-content: end;
    }

footer {
    grid-area: footer;
    background-color: #282828;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 220px 1fr 250px;
    padding: 5x 20px;
    align-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
}