* {
    color: #717171;
    font-family: sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "spotifyHome topBlank"
    "leftMenu mainContainer";
}

/* Left Column */

#spotifyHome {
    background-color: #000000;
    display: grid;
    justify-items: center;
    align-items: center;
}

#topBlank {
    background-color: #030814;
}

#leftMenu {
    display: grid;
    grid-template-rows: 150px repeat(9, 40px);
    background-color: black;
    padding-left: 20px;
    font-size: 20px;
    align-items: center;
    gap: 5px;
}

.menuItems {
    display: grid;
    grid-template-columns: 60px 200px;
    grid-template-rows: repeat(3, 1fr);    
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    row-gap: 10px;
}

#playlistsTitle span{
    font-weight: bold;
    color: white;    
}

#newPlaylist {
    display: grid;
    grid-template-columns: 80px 200px;
    align-items: center;
}


.fa-solid {
    color: gray;
    font-size: 40px;
}

/* main content */

.mainContainer {
    display: grid;
    grid-template-rows: 50px 50px 1fr 100px  1fr;
    background-color: #11141b;
    padding-left: 20px; 
    padding-right: 20px;   
}

#navBar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 40px;
    justify-items: right;
    grid-template-areas: 
    " . . lib pod rank genre new disc";
    padding: 20px;
}

#navBar div:nth-of-type(1) {
    grid-area: lib;
}

#navBar div:nth-of-type(2) {
    grid-area: pod;
}

#navBar div:nth-of-type(3) {
    grid-area: rank;
}

#navBar div:nth-of-type(4) {
    grid-area: genre;
}

#navBar div:nth-of-type(5) {
    grid-area: new;
}

#navBar div:nth-of-type(6) {
    grid-area: disc;
}

.listTitle span{
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.music {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
}

/* playlist bits */

.playlist {
    display: grid;
    grid-template-rows: 250px auto 40px;
    justify-items: center;
}

.artwork img {    
    height: 250px;
}

.playlistName {
    text-align: center;
    display: grid;
    align-content: center;
}

.playlistName span{
    font-weight: bold;
    color: white;
    font-size: 20px;
}


.artistProfile img{
    height: 250px;
    border-radius: 50%;
}

/* footer */

footer {
    background: #282828;
    display: grid;
    grid-template-columns: 300px 1fr;
}

/* left side of footer */

#nowPlaying {
    padding: 20px;
    display: grid;
    grid-template-columns: 60px 100px 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#nowPlaying div p {
    font-size: 15px;
    margin: 0px;
}

#nowPlaying div p:nth-of-type(1) {
    color: white;
    font-weight: bold;
}

#nowPlaying div img {
    height: 50px;
}

.fa-regular {
    font-size: 20px;
}

/* main portion of footer */

#playBar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 10px;
}

#controls {
    display: grid;
    grid-template-columns: 40px 40px 60px 40px 40px;
    justify-content: center;
    align-items: center;
}

#controls .fa-solid {
    font-size: 30px;
    color: white;
}

#controls .fa-regular {
    font-size: 40px;
    color: white;

}

#timeBar {
    display: grid;
    grid-template-columns: 40px 500px 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#fakeTime {
    box-sizing: content-box;
    position: relative;
    background-color: #717171;
    height: 10px;
    border-radius: 5px;
}

#fakeTime span{
    display: block;
    background-color: white;
    border: white solid 2px;
    height: 60%;
    border-radius: 5px;
   
}