/* global start */

body {
  display: grid;
  grid-template: 
  "nav header" 10vh
  "nav main" 80vh
  "footer footer" 10vh /
  220px 1fr;
  font-family: sans-serif;
  margin: 0;
  color: white;
}

header {grid-area: header}
main {grid-area: main}
nav {grid-area: nav}
footer {grid-area: footer}

/* global end */


/* header start */

header {
  background: #080B12;
}



header h1 {
  border: solid white 2px;
  background: black;
  margin-right: 30px;
  margin-left: auto;
  margin-top: 25px;
  font-size: 1rem;
  width: fit-content;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

header h1:hover {
  background: green;
  color: black;
  border: solid black 2px;
}

/* header end */


/* main start */

main {
  background: #141922;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 65px repeat(3, 300px);
}

.sub-header {
  display: inline-flex;
  gap: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.sub-header h1 {
  font-size: 0.9rem;
  color: #6E7176;
  
}

h1.focus {
  border-bottom: solid limegreen 2px;
  
}

.sub-header :hover {
  color: white;
  cursor: pointer;
}

section {
  margin-left: 20px;
}

.category h1 {
  width: 300px;
}

section h1:hover {
  text-decoration: underline;
}

.card {
  place-items: center;
}

.card img{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

.card img:hover {
   /*show play button on hover  */
}

.card h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: center;
}

.card h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card h3 {
  font-size: .75rem;
  text-align: center;
  color: #6E7176;
  margin: 0 5px 0 5px;
}

.artist-pfp {
  border-radius: 50% !important;
}

/* main end */

/* nav start */

nav {
  background: black;
  width: 220px;
  height: 100vh;
}

nav img {
  margin: 20px;
  width: 150px;
}

.left-nav-button {
  display: inline-flex;
  height: 35px;
}

.left-nav-button img {
  width: 25px;
  margin: 0px 5px 0px 20px;
}

.left-nav-button h2 {
  font-size: 1rem;
  line-height: 2.5;
  margin: 0;
  color: #A3A3A3;
}

nav :hover, .playlists :hover {
  color: white;
  cursor: pointer;
}

.focus h2 {
  color: white;
}

.focus.left-nav-button {
  border-left: solid limegreen 5px;
}

.focus img {
  margin-left: 10px;
}

nav h1 {
  margin: 20px 5px 0px 20px;
  font-variant: small-caps;
}

.create-playlist {
  display: inline-flex;
  color: #A3A3A3;
}

.create-playlist img {
  width: 35px;
  margin: 0px 5px 0px 20px;
}

.playlists {
  display: grid;
  grid-template-rows: auto;
  margin: 0px 5px 0px 20px;
}

.playlists h4 {
  height: 35px;
  margin: 0;
  color: #A3A3A3;
}

nav hr {
  margin-top: 170px;
  width: 180px;
  border-color: #A3A3A3;
}

.profile button {
  display: inline-flex;
  width: 85px;
  height: 40px;
  background: black;
  border-radius: 30px;
  margin-left: 20px;
  align-items: center;
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* margin-top: 5px;
  margin-right: 10px; */
  margin: 0;
}

.profile h5{
  font-size: 1rem;
  margin: 0;
  margin-left: 5px;
  line-height: 2;
  color: white;
}

.profile :hover {
  background: #282828;
  cursor: pointer;
}

/* nav end */


/* footer start */

footer {
  background: #282828;
  display: grid;
  grid-template:
    "curr-song media-keys volume" auto
    "curr-song progress-bar volume"auto/
    250px 1fr 250px;
}

.curr-song {grid-area: curr-song}
.media-keys {grid-area: media-keys}
.volume {grid-area: volume}
.progress-bar {grid-area: progress-bar}

.curr-song {
  display: inline-flex;
  margin-top: 11px;
}

.curr-song-cover {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.curr-song h1 {
  font-size: 1rem;
  margin-bottom: 0;
  height: 25px;
  line-height: 2;
}

.curr-song h2 {
  font-size: 0.75rem;
  margin-top: 0;
  margin-right: 80px;
  color: #A3A3A3;
}

.curr-song h1:hover, .curr-song h2:hover {
  color: white;
  text-decoration: underline;
}

.like, .add-to-library {
  width: 20px;
  margin-right: 15px;
}

.like:hover, .add-to-library:hover {
  filter: invert(100%) sepia(1%) saturate(1588%) hue-rotate(170deg) brightness(96%) contrast(92%);
}

.media-keys {
  display: inline-flex;
  margin: 0px auto 0px auto;
}

.media-keys img{
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.media-keys img:hover{
  filter: invert(100%) sepia(1%) saturate(1588%) hue-rotate(170deg) brightness(96%) contrast(92%);
  cursor: pointer;
}

.play {
  width: 40px !important;
}

/* .play:hover {
  ;
} */

.progress-bar {
  display: flex;
}

.bar, .volume-bar {
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 10px;
  height: 5px;
  border-radius: 5px;
  background: #5A5A5A;
  outline: none;
}

.bar {
  width: 70%;
}

.volume2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-bar {
  width: 80%;
}

.bar::-webkit-slider-thumb, .volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: #C1C1C1;
  cursor: pointer;
}

.bar::-moz-range-thumb, .volume-bar::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #C1C1C1;
  cursor: pointer;
}

.volume {
  display: inline-flex;
}

.volume img{
  width: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* footer end */

/* svg filters start */

.filter-black {
  filter: brightness(0) saturate(100%);
}

.filter-green-to-white {
  filter: brightness(100) saturate(100%);
  
}

.filter-white {
  filter: invert(100%) sepia(1%) saturate(1588%) hue-rotate(170deg) brightness(96%) contrast(92%);
}

.filter-off-white {
  filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(289deg) brightness(85%) contrast(89%);
}

/* svg filters end */


/* reusable start */

.grid-rows-auto {
  display: grid;
  grid-template-rows: auto;
}

.grid-columns-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-auto-rows: 150px;
  gap: 20px;
}

/* reusable end */