/* General styling ---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  min-width: 450px;
}

.container-grid {
  /* FIX NUMBERS */
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "left header"
    "left nav"
    "left main"
    "player player";

  height: 100vh;

}



/* Multiple selectors ----------------------------- */
body::-webkit-scrollbar,
main::-webkit-scrollbar {
  display: none;
}


a {
  color: #fff;
  text-decoration: none;
  padding: 5px;

}

.spotify-logo:hover,
.upgrade:hover {
  cursor: pointer;
}

/* LEFT BAR -------------------------------------------- */

.left-bar {
  grid-area: left;
  background-color: #2d2d2d;
  display: grid;
  grid-template-rows: 60px 1fr 50px;

  font-size: small;
}

.brand {
  margin: 10px;
  padding: 5px;
}

h1 {
  padding: 5px 60px;
}

.spotify-logo {
  width: 40px;
  position: absolute;
  top: 13px;
  left: 13px;

}

.action-item-link {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.action-item-icon {
  margin: 0 15px;
  width: 25px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 5px;
}


h3 {
  margin: 30px 10px 5px;
}

.playlists {
  margin: 10px;
  line-height: 2.5;
}

.profile {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  margin: 10px;
  object-fit: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* HEADER ------------------------------------- */

header {
  display: grid;
  grid-area: header;
  background-color: #080B12;
}

.upgrade {
  border: 1px solid grey;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 50px;
  padding: 10px;
}

/* NAV ------------------------------------------ */

nav {
  grid-area: nav;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));

  /* grid-template-columns: repeat(6, 1fr); */
  height: 60px;
  gap: 20px;
  background-color: #282828;

  transition: all ease-in-out 2s;
}

.nav-bar-links:hover {
  text-decoration: underline;
  text-decoration-color: darkred;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}


/* MAIN -------------------------------------- */

main {
  grid-area: main;
  overflow: auto;
}

.recent,
.your-albums {
  display: grid;

  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit, 200px);
  gap: 10px;
}

.recent-album:hover>img:nth-child(2),
.album:hover>img:nth-child(2) {
  display: block;
}

.recent-album,
.album {
  position: relative;
}

.recent-album>img,
.album>img {
  object-fit: contain;
  width: 150px;
  height: 150px;
  margin: 30px;

}

.hover-image {
  display: none;

  width: 60px;
  height: 60px;
  padding: 30px;
  /**/

  position: absolute;
  /* */
  top: 0;
  /**/
  opacity: 0.65;
  background-color: #ffffff41;
  /**/


}

.album:hover,
.recent-album:hover {
  cursor: pointer;

}

/* PLAYER --------------------------------------- */

.player-bar {
  grid-area: player;

  display: grid;
  grid-template-columns: 1fr 80px 1fr 200px;
  grid-template-rows: 80px;


  column-gap: 40px;
  background-color: #282828;
}

/* SONG PLAYING ----------------------------------- */
.playing-now {

  display: grid;
  grid-template-columns: 80px 120px;

  /* grid-template-columns: repeat(2, 1fr); */
}

.playing-now>img {
  margin: 10px 20px 10px 10px;
  width: 60px;
}

.title-playing {
  display: grid;
  grid-template-rows: 20px 10px;
  margin-top: 20px;
}

.title-playing p {
  font-size: 10px;
}

.like-add {

  display: grid;
  grid-template-columns: 30px 30px;
  place-items: center;

  transition: ease-in-out 250ms;
}

.playing-now:hover,
.like-add-icons:hover {
  cursor: pointer;

}

/* PLAYER COMMANDS ------------------------------------------ */
.player {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;

}

.audio-controls {

  display: grid;
  grid-template-columns: repeat(5, 50px);
  column-gap: 5px;
  place-items: center;
  padding-top: 5px;
}

.shuffle:hover,
.back:hover,
.play:hover,
.forward:hover,
.repeat:hover {
  cursor: pointer;
}

.time-bar {

  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 30px;
  place-items: center;
  /* border: 2px solid #fff; */
}

.timeline {
  border: 2px solid #716f6f;
  height: 1px;
  width: 30vw;
}

/* AUDIO --------------------------------------------- */

/* audio {
  margin: 10px;
}

audio::-webkit-media-controls-panel {
  background-color: #282828;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  background-color: #fff;
  border-radius: 50px;
  padding: 3px;
  margin: 3px;

  transition: all ease-in-out 250ms;
}

audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-mute-button:hover,
audio::-webkit-media-controls-current-time-display:hover,
audio::-webkit-media-controls-time-remaining-display:hover {
  background-color: #c1bfbf;
}


audio::-webkit-media-controls-timeline {
  background-color: #fff;
  border-radius: 50px;
}

audio::-webkit-media-controls-volume-slider {
  color: #6e6c6c;
}

audio::-webkit-media-controls-volume-slider-container {
  background-color: #898888;
  border-radius: 50px;
} */

/* MORE SETTINGS ------------------------------ */

.more-settings {

  display: grid;
  grid-template-columns: 30px 30px;
  place-items: center;
  gap: 20px;
  margin-left: 60px;

  transition: ease-in-out 250ms;
}

.options:hover,
.share:hover {
  cursor: pointer;
}

/* MEDIA QUERIES -----------------------------------*/

@media screen and (max-width: 800px) {
  .container-grid {
    grid-template-columns: 70px 1fr;
  }

  .action-item-label,
  .profile-name,
  .playlists {

    display: none;
  }

  nav>a:nth-child(n+5) {
    grid-column: span 2;

  }

  .playing-now>img {
    width: 40px;
    align-self: center;
  }

  .title-playing {
    margin-left: -20px;

  }

  .like-add {
    grid: none;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    gap: 10px;
    margin-left: -60px;
  }

  
}

@media screen and (max-width: 900px) {
  nav {
    height: 80px;
  }
}