* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --footer-height: 100px;

  --menu-bar-width: 200px;

  --gallery-item-width: 156px;

  --header-bg: #080b12;
  --menu-bar-bg: #000;
  --main-bg: #141922;
  --footer-bg: #282828;

  --logo-bg: #fff;
  --selector-bg: #fa99a9;
  --hover-bg: #ffffff50;

  --main-text-color: #fff;
  --faded-text-color: #aaa;

  font-size: 12px;
}

body {
  background-color: #222;

  font-family: sans-serif;
  color: var(--main-text-color);

  overflow: hidden;
}

body,
.container {
  height: 100vh;
}

/* ======== bob the builder ======== */

li {
  list-style: none;
}

.container {
  grid-template-areas:
    "menu-bar header"
    "menu-bar main"
    "footer footer";
  grid-template-columns: var(--menu-bar-width) 1fr;
  grid-template-rows: auto 1fr var(--footer-height);
}

.grid {
  display: grid;
  align-content: center;
}

.flex {
  display: flex;
  align-content: center;
}

.row {
  flex-direction: column;
}

.col {
  grid-auto-flow: column;
}

.logo {
  background-color: var(--logo-bg);

  overflow: hidden;

  padding: 10px;
}

.logo img {
  height: 24px;
}

.fade-text {
  color: var(--faded-text-color);
}

.round {
  border-radius: 50%;
}

.rounded-right {
  border-radius: 0 50ch 50ch 0;
  padding-right: 1ch;
}

.rel {
  position: relative;
}

/* || hover ting || */

.hover {
  padding: 6px;
}

.hover:hover {
  cursor: pointer;
  background-color: var(--hover-bg);
}

/* || overflow || */

.overflow-elip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* || slider stuff || */

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;

  cursor: pointer;
}

::-moz-range-track {
  background-color: #444;
  border-radius: 5000000000ch;
  height: 4px;
}

::-moz-range-thumb {
  -webkit-appearance: none;
  border-radius: 5000000000ch;

  background-color: #aaa;
  height: 2px;
  width: 4px;
}

::-webkit-slider-runnable-track {
  background-color: #444;
  border-radius: 5000000000ch;
  height: 4px;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 5000000000ch;

  background-color: #aaa;
  height: 4px;
  width: 8px;
}

/* ======== header ======== */

header {
  grid-area: header;

  background-color: var(--header-bg);

  justify-content: end;

  padding: 8px;
}

header button.rounded-right {
  background-color: var(--header-bg);
  color: var(--main-text-color);
  border: 1px solid var(--logo-bg);

  width: auto;

  padding: 8px 16px;

  text-transform: uppercase;
  font-size: 0.6rem;
}

/* ======== menu-bar ======== */

.menu-bar {
  grid-area: menu-bar;
  grid-template-rows: auto auto 1fr auto;

  align-content: start;
  align-items: start;
  justify-items: start;

  padding: 16px;
  gap: 24px;

  font-size: 0.8rem;

  background-color: var(--menu-bar-bg);
}

.menu-bar * {
  column-gap: 8px;
}

.menu-bar img {
  height: 24px;
}

.selector {
  display: none;

  position: absolute;

  left: -16px;
  top: 0;

  width: 4px;
  height: 28px;

  background-color: var(--selector-bg);
}

#selected-side {
  display: unset;
}

.playlist-container h1 {
  text-transform: uppercase;
  font-size: 1rem;
}

.menu-footer {
  width: 100%;
}

.menu-footer img {
  height: 16px;
}

.install {
  border-bottom: 1px solid white;

  padding: 8px 0;
}

.profile {
  padding: 8px 0;
}

.profile .icon {
  overflow: hidden;
  background-color: #333;
}

/* ======== main ======== */

main.grid {
  grid-area: main;
  align-content: start;

  padding: 16px;
  gap: 16px;

  background-color: var(--main-bg);

  overflow-y: scroll;
}

.nav-list {
  grid-template-columns: repeat(auto-fit, minmax(8ch, 1fr));

  justify-items: center;

  gap: 18px;
}

.nav-items {
  text-align: center;

  padding-bottom: 5px;
  border: 2px solid transparent;
}

.nav-items:hover {
  border-image: linear-gradient(
    to right,
    transparent 40%,
    var(--selector-bg),
    transparent 60%
  );
  border-image-slice: 0 0 1 0;
}

#selected-main {
  border-image: linear-gradient(
    to right,
    #00000000 40%,
    var(--selector-bg) 40%,
    var(--selector-bg) 60%,
    #00000000 60%
  );
  border-image-slice: 0 0 1 0;
}

.gallery-container {
  gap: 18px;
}

.gallery {
  grid-template-columns: repeat(auto-fit, var(--gallery-item-width));
  justify-content: start;
  justify-items: center;

  gap: 18px;
}

.gallery h2 {
  font-size: 1.3rem;
}

.gallery h2, .gallery p, .gallery-cover {
  width: 144px;
  justify-self: center;
}

.gallery img {
  height: 144px;
  width: 144px;

  object-fit: cover;
}

.gallery-item {
  align-content: start;
  justify-items: center;
}

.item-container {
  text-align: center;
  align-content: start;

  border-radius: 0 0 4ch 4ch;

  gap: 8px;
}

.play-hover {
  /* display: none; */
  opacity: 0;
  position: absolute;
  background-color: var(--selector-bg);

  place-content: center;

  bottom: -6px;
  right: 4px;

  height: 32px;
  width: 32px;

  transition: 0.3s;
}

.gallery-item:hover .play-hover {
  opacity: 1;

  transform: translateY(-10px);
}

.play-hover img {
  height: 16px;
  width: 16px;
}

.created-for-you p {
  text-align: left;
}

.for-you-overlay {
  position: absolute;
}

.for-you-icon {
  position: absolute;

  top: 6px;
  left: 6px;

  height: 12px;
  width: 12px;

  background-color: black;

  justify-content: center;
}

.for-you-icon img {
  height: 10px;
  width: 10px;
}

.for-you-text {
  position: absolute;

  bottom: 12px;
  left: 12px;

  color: black;

  font-weight: bold;

  margin: 0;
}

.for-you-cover {
  width: 144px;

  object-fit: cover;
}

/* ======== footer ======== */

footer {
  grid-area: footer;

  background-color: var(--footer-bg);

  padding: 8px;

  grid-template: 1fr / 1fr 1fr 1fr;
}

.album img {
  height: 36px;
}

.icon img {
  height: 16px;
}

.footer-left,
.footer-right {
  grid-template-columns: auto 20ch auto auto;
  justify-content: start;
  gap: 12px;
}

.album-name {
  font-weight: bold;
}

.footer-center {
  justify-content: center;

  grid-template: 1fr 1fr / 1fr;
}

.media-container {
  justify-items: center;
  justify-content: center;
  padding: 0 20%;
}

.progress-container {
  grid-template-columns: auto 1fr auto;

  gap: 18px;
}

.footer-center img {
  height: 24px;
}

.footer-right {
  grid-template-columns: repeat(4, auto);
  justify-self: end;
  justify-content: end;
}

/* ======== media queries ======== */

@media screen and (width < 800px) {
  .footer-left {
    grid-template: repeat(2, 36px) / repeat(2, auto);
    row-gap: 0;
  }

  .footer-left .icon img {
    height: 24px;
  }

  .footer-center img {
    height: 16px;
  }

  .footer-center {
    position: relative;
    bottom: 6px;

    grid-template-rows: auto auto;

    gap: 12px;
  }

  .progress-container {
    grid-template-areas:
      "range-time range-time range-time"
      "current-time . total-time";

    gap: 14px;
  }

  .range-time {
    grid-area: range-time;
  }

  .current-time {
    grid-area: current-time;
  }

  .total-time {
    grid-area: total-time;
  }

  .footer-right {
    grid-template-areas:
      "playlist ."
      "volume volume-slider"
      "cast .";

    gap: 0;
  }

  .playlist {
    grid-area: playlist;
  }

  .volume {
    grid-area: volume;
  }

  .volume-slider {
    grid-area: volume-slider;
    width: 84px;
  }

  .cast {
    grid-area: cast;
  }
}

@media screen and (width < 752px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(var(--gallery-item-width), 1fr));
    justify-content: center;
  }
}

@media screen and (width < 560px) {
  .container {
    grid-template-columns: auto 1fr;
  }

  .menu-bar {
    justify-items: center;
    padding: 16px 8px 8px 8px;

    grid-template-rows: auto 1fr auto;
  }

  .menu-bar img {
    height: 24px;
  }

  .menu-bar .hover {
    border-radius: 50%;
  }

  .menu-bar .flex {
    justify-content: center;
  }

  nav.side ul {
    gap: 8px;
  }

  .collapse-left {
    display: none;
  }

  .selector {
    left: -11px;
    top: 0;
    height: 36px;
  
    background-color: var(--selector-bg);
  }
}
