* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg: #121212;
    --text-dimmed: #a7a7a7;
    --spotify-green: rgba(30, 215, 96, 1);
}

body {
    height: 100vh;
    font-family: Circular;
    background-color: #000000;
    color: var(--text-dimmed);
}

.page-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 10px 1fr 10px 75px;
}

.content-wrapper {
    grid-row: 2 / span 1;
    display: grid;
    height: 100%;
    grid-template-columns: 10px 250px 10px 1fr 10px;
    grid-template-rows: 1fr;
}

.sidebar {
    z-index: 0;
    position: fixed;
    height: calc(100% - 100px + 5px);
    top: 10px;
    left: 10px;
    width: 250px;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 10px;
}

.navigation-wrapper {
    display: grid;
    background-color: var(--dark-bg);
    border-radius: 10px;
}

.navigation-button {
    margin: 12px;
    display: grid;
    grid-template-columns: 24px auto 1fr;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#home,
#search {
    margin-left: 25px;

    &:hover {
        color: white;

        svg {
            fill: white;
        }
    }
}

#home {
    margin-top: 20px;
}

#search {
    margin-bottom: 20px;
}

#icon {
    height: 24px;
    fill: var(--text-dimmed);
}

.library-wrapper {
    background-color: var(--dark-bg);
    border-radius: 10px;
}

.library-header {
    margin: 15px;
    margin-left: 25px;
    display: grid;
    grid-template-columns: 24px 1fr;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &:hover {
        color: white;

        #icon {
            fill: white;
        }
    }
}

.library-list {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 150px - 27px);
    padding: 0;
}

.playlist {
    list-style: none;
    display: grid;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 45px 1fr;
    column-gap: 20px;

    &:hover {
        background-color: #505050;
        border-radius: 20px;
    }
}

#playlist-icon {
    height: 45px;
    width: 45px;
    border-radius: 5px;
}

.playlist-details {
    display: grid;
    grid-auto-flow: row;
}

.playlist-name,
.playlist-metadata,
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-name {
    color: white;
}

.playlist-metadata {
    display: grid;
    grid-template-columns: 16px calc(100% - 21px);
    column-gap: 5px;
    font-size: 13px;
}

#pinned-icon {
    height: 16px;
    width: 16px;
    fill: var(--spotify-green);
}

.content {
    position: fixed;
    left: 270px;
    width: calc(100% - 280px);
    height: calc(100% - 100px + 5px);
    grid-column: 4 / span 1;
    background-color: var(--dark-bg);
    border-radius: 10px;
}

.browser {
    overflow-y: scroll;
    position: absolute;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 15px;
    display: grid;
    grid-template-rows: repeat(6, auto);
}

.list-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 50px auto;
}

.list-title {
    color: white;
}

.card-wrapper {
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, calc(250px + 30px));
    column-gap: 15px;
    grid-auto-flow: row;
}

.card {
    height: calc(250px + 100px);
    margin: 15px;
    display: grid;
    grid-auto-flow: row;
    justify-content: left;
    align-items: center;
}

#mix-cover {
    width: 250px;
    border-radius: 5px;
}

.card-play-button {
    width: 45px;
    height: 45px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    border-radius: 25px;
    background-color: var(--spotify-green);
}

#card-play-icon {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    height: 15px;
    width: 15px;
    border-radius: 5px;
}

.card-details {
    margin-top: 10px;
    display: grid;
    width: 100%;
    row-gap: 5px;
}

.card-title {
    color: white;
}

.card-subtitle {
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
    text-overflow: ellipsis;
}

.music-player {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
}

@media (max-width: 1775px) {
    .card-wrapper {
        grid-template-columns: repeat(4, calc(250px + 30px));
    }
}

@media (max-width: 1475px) {
    .card-wrapper {
        grid-template-columns: repeat(3, calc(250px + 30px));
    }
}

@media (max-width: 1200px) {
    .card-wrapper {
        grid-template-columns: repeat(2, calc(250px + 30px));
    }
}

@media (max-width: 720px) {
    .card-wrapper {
        grid-template-columns: repeat(1, calc(250px + 30px));
    }
}

@media (max-width: 900px) {
    .sidebar {
        width: 75px;
    }

    .sidebar span {
        display: none;
    }

    .playlist-details {
        display: none;
    }

    .library-header,
    .navigation-button {
        grid-template-columns: 24px;
    }

    #home,
    #search,
    .library-header {
        margin-left: 12px;
    }

    .playlist {
        grid-template-columns: 45px;
    }

    .content {
        left: 95px;
        width: calc(100% - 105px);
    }
}
