* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template:
    "header header" 70px
    "aside main" 1fr
    "footer footer" 90px/
    200px 1fr;
  font-weight: bold;
}

header {
  grid-area: header;
  grid-template-columns: 200px 1fr;
  display: grid;
  background-color: black;
  padding: 15px;
}

header img {
  height: 35px;
  place-self: center start;
}

header button {
  width: 150px;
  place-self: center end;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
}

header #small-logo {
  display: none;
}

aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: auto minmax(200px, 30%) 1fr;
  background-color: black;
  color: white;
  gap: 10px;
  padding: 15px;
  height: 100%;
  font-size: 12px;
}

aside img {
  height: 30px;
}

aside nav {
  display: grid;
  grid-template:
    "home" 30px
    "search" 30px
    "library" 30px;
  gap: 5px;
  margin-bottom: 20px;
}

aside nav p {
  margin-left: 5px;
}

aside .home,
aside .search,
aside .library {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

aside .playlist,
aside span {
  display: grid;
  grid-template-rows: auto auto 1fr;
  color: grey;
}

aside .create-playlist,
aside .playlist h3 {
  margin-bottom: 20px;
  color: white;
}

aside .create-playlist {
  display: grid;
  align-items: center;
  grid-template-columns: 40px auto;
}

aside li {
  text-indent: -38px;
  list-style: none;
  margin-bottom: 20px;
}

aside .install-user {
  place-self: end center;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 5px;
}

.install-user hr {
  border: 0.5px solid rgba(128, 128, 128, 0.478);
}

.install-user .install,
.install-user .user {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center start;
  gap: 5px;
}

aside .user img {
  height: 25px;
  padding: 4px;
  background-color: grey;
  border-radius: 50%;
}

aside .install img {
  height: 15px;
  color: grey;
}

aside .install {
  color: grey;
}

main {
  grid-area: main;
  display: grid;
  background-color: #141922;
  color: white;
  overflow: auto;
}

main nav {
  place-self: center;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  gap: 10px;
  color: grey;
  font-size: 9px;
  margin: 20px 0px 20px 0px;
}

nav h3 {
  position: relative;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

nav h3::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: -2px;
  transform: translateX(50%);
  width: 0;
  height: 2px;
  background-color: #adff2e;
  transition: 0.3s ease;
}

nav h3:hover::after {
  width: 40px;
}

main .recently-played,
main .created-for,
main .popular-artists {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 125px);
  margin-left: 20px;
  gap: 20px;
}

main h2 {
  font-size: 18px;
  margin: 20px 0 10px 20px;
}

#recently-played-heading {
  margin-bottom: 20px;
}

main .subtitle {
  font-size: 10px;
  margin-bottom: 15px;
}

main .album,
main .playlist,
main .popular-artist {
  display: grid;
  grid-template-rows: repeat(2, auto);
  font-size: 10px;
  text-align: center;
  position: relative;
  height: 190px;
}

.album p {
  color: grey;
}

main .subtitle {
  margin-left: 20px;
  color: grey;
}

main img {
  width: 125px;
}

main .popular-artists img {
  border-radius: 50%;
}

.album .overlay,
.playlist .overlay {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease;
}

.overlay:hover {
  opacity: 0.7;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: minmax(90px, 170px) minmax(70px, 2fr) minmax(
      100px,
      180px
    );
  background-color: rgb(42, 42, 42);
  color: white;
  font-size: 10px;
  gap: 5px;
  padding-top: 5px;
}

footer img {
  height: 40px;
}

footer .footer-icon {
  height: 20px;
}

footer .now-playing {
  display: grid;
  grid-template-columns: 40px 1fr repeat(2, 20px);
  padding: 10px;
  gap: 5px;
  place-items: center;
}

.now-playing .footer-icon {
  place-self: center;
  height: 15px;
}

.now-playing p {
  color: grey;
}

footer .player-controls {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.player-controls .player-buttons {
  display: grid;
  grid-template-columns: repeat(5, auto);
  place-self: center;
  gap: 40px;
  place-items: center;
}

.player-controls #play-button {
  height: 35px;
}

.player-controls .scrobbler {
  display: grid;
  grid-template-columns: 25px minmax(100px, 1fr) 25px;
  align-items: center;
  gap: 10px;
}

footer .broadcast-controls {
  display: grid;
  grid-template-columns: repeat(3, 15px) 70px;
  align-items: center;
  gap: 10px;
  padding: 20px;
  place-self: center;
}

footer .broadcast-controls img {
  height: 15px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
}

@media screen and (max-width: 650px) {
  footer .now-playing {
    display: grid;
    grid-template-areas:
      "img song-info like"
      "img song-info folder";
    grid-template-columns: repeat(3, auto);
    margin-left: 5px;
    min-width: 100px;
    place-self: center;
    padding: 0px;
  }

  .player-controls .player-buttons {
    gap: 10px;
  }

  footer .broadcast-controls {
    gap: 5px;
  }

  #heart-icon {
    grid-area: like;
  }

  #folder-icon {
    grid-area: folder;
  }

  .song-info {
    grid-area: song-info;
    margin-left: 5px;
  }

  .now-playing img {
    grid-area: img;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    grid-template:
      "header header" 60px
      "aside main" 1fr
      "footer footer" 100px/
      60px 1fr;
  }

  aside {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: black;
  }

  aside nav {
    place-items: center;
    margin: 0px;
  }

  aside nav p,
  aside .playlist,
  aside .install-user p,
  aside .install-user h3,
  header #big-logo,
  hr
   {
    display: none;
  }

  aside .install-user {
    place-self: end;
    place-items: center;
    gap: 10px;
  }

  header #small-logo {
    display: block;
  }

  header img {
    height: 30px;
  }
}
