* {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: 4em auto 5em;
  grid-template-areas:
    "n n h h h h h h h h h h h h h"
    "n n m m m m m m m m m m m m m"
    "f f f f f f f f f f f f f f f";
}

.header {
  border: black solid 0.5px;
  background-color: #14161b;
  padding: 0.4em;
  grid-area: h;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.nav {
  border: black solid 0.5px;
  background-color: black;
  padding: 0.5em;
  grid-gap: 15px;
  grid-area: n;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr auto 1fr auto 1.8fr 1.2fr;
}

.nav-logo {
  height: fit-content;
  width: auto;
  padding: 0.4em;
}

.nav-home {
  font-size: 0.85em;
  gap: 5px;
  align-items:center;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: repeat (3, 1fr);
}

.nav-home-top {
  border-left: #7df300 solid 0.5px;
  padding-left: 0.3em;
}

.nav-home-top-text {
  color:white;
}

.nav-home-center {
  border-left: black solid 0.5px;
  color: #989898;
  padding-left: 0.3em;
}

.nav-home-center-text {
  color: #989898;
}

.nav-home-footer {
  border-left: black solid 0.5px;
  padding-left: 0.3em;
}

.nav-home-footer-text {
  color: #989898;
}

.nav-playlists-top {
  font-size: 0.92em;
  padding: 0.4em;
  display: grid;
  grid-template-rows: 35% 65%;
}

.nav-playlists-top-x {  
  color:white;
  font-weight: bold;
  font-size: 0.8em;
}

.nav-playlists-top-y {
  color: #989898;
}

.nav-playlists {
  font-size: 0.85em;
  color: #989898;
  gap: 14px;
  padding-left: 0.4em;
  max-height: 30vh;
  overflow-y: auto;
  display:grid;
  grid-template-rows: repeat(auto-fit, 20px);
}

.nav-footer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 50% 50%;
  align-items: end;
  gap: 15px;
  font-size: 0.8em;
  color: #989898;
  padding: 15px;
}
.nav-footer-x {
  font-size: 0.8em;
  color: #989898;
}

.nav-footer-y {
  color:white;
  font-size: .96em;
  font-weight: bold;
  padding: 0.5em;
  border-top: #989898 solid 1px;
  border-width: 90%;
}

.main {
  background-color: #1b1e27;
  padding: 1em;
  grid-area: m;
  grid-gap: 10px;
  max-height: 100vh;
  overflow-y: auto;
}

.main-categories {
  font-size: 0.83em;
  color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 20px;
  gap: 25px
}

.main-recently-played {
  min-height: 23em;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 13% 87%;
}

.main-recently-played-top {
  font-size: 1.28em;
  font-weight: bold;
  color: white;
}

.main-recently-played-main{
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 10px;
}

.main-created {
  min-height: 23em;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 13% 87%;
}

.main-created-top {
  display: grid;
  grid-template-rows: 40% 60%;
  gap: 5px
}

.main-created-main {
  color: #989898;
  font-size: 0.85em;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#created {
  font-size: 1.28em;
  font-weight: bold;
  color: white;
}

#more {
  font-size: 0.7em;
  color: #989898;
}

.box {
  text-align: center;
}

.box > img {
  position:absolute;
}

#created-text {
  color: white;
  font-size: 1.11em;
  font-weight: bold;
  text-align: center;
}

.box-title {
  color:white;
  font-weight: bold;
}

.box-subtitle {
  font-size: 0.87em;
  color: #989898;
}

#cover {
  aspect-ratio: 1;
  
  position: relative;
}

.main-most-popular {
  min-height: 23em;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 13% 87%;
}

.footer {
  border: black solid 0.5px;
  background-color: #2c2c2c;
  color: white;
  padding: 0.3em;
  grid-gap: 3px;
  grid-area: f;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-areas: "q q c c c c c c c c c c c fr fr";
  grid-template-rows: auto;
}

.footer-now-playing {
  grid-area: q;
  display:flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.footer-controls {
  grid-area: c;
  text-align: center;
  display: grid;
  grid-template-rows: auto-fit auto;
}

.footer-controls-top {
  padding: 0.7em;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
}

.footer-controls-range {
  display: grid;
  grid-template-columns: 0.3fr 7px 1fr 7px 0.3fr;
  font-size: 0.8em;
  max-height: 30em;
}

.footer-right {
  grid-area: fr;
  /* display: inline; */
  display: flex;
  gap: 10px;
  /* grid-auto-flow: column; */
  align-items: center;
  padding: 10px;
}

input.upgrade {
  float: right;
  background-color: #14161b;
  border: white solid 1px;
  border-radius: 20px;
  color: #fff;
  padding: 7px 9px;
  font-size: 0.8em;
  text-decoration: none;
  margin: 1px 1px;
  /* cursor: pointer; */
}

input.track[type="range"] {
  width: 75%;
  /* width:550px; */
}

.logo-small {
  display: none;
}

.box:hover .play-icon {
  display: inline
}

.play-icon {
  font-size: 8rem;
  display:none;
  position: absolute;
  top: 25%;
  left: 25%;
}

@media only screen and (max-width: 1157px) {
.nav-home-top-text,
.nav-home-center-text,
.nav-home-footer-text,
.nav-playlists,
.nav-playlists-top,
p {
  display:none
}

}

@media only screen and (max-width: 850px) {
  .logo {
    display: none;
  }

  .logo-small {
    display: block;
  }

.nav-playlists {
    font-size: x-small;
  }
}

