* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	user-select: none;
}

:root,
body,
#root {
	overflow: hidden;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: clamp(0.3vmax, 16px, 1.25vmax);
}
