// BUTTON STYLES

.header {
  &__button {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.2rem;
      text-decoration: none;
      padding: 1rem 2.6rem;
      border-radius: 10rem;
      transition: all 0.2s;
      font-size: 1rem;
      cursor: pointer;
    }

    &:hover {
      transform: scaleX(1.1) scaleY(1.1);
    }

    &:active,
    &:focus {
      outline: none;
      transform: scaleX(0.9) scaleY(0.9);
    }
  }
}
