// MAIN GRID LAYOUT FOR MAIN SECTIONS OF PAGE
// SPECIFIC GRID LAYOUTS FOR EACH SECTION LOWER DOWN IN FILE

// HEADER

.header {
  grid-area: head;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
}

// NAVIGATION
.navigation {
  grid-area: navigation;
  display: grid;
  grid-template-rows: repeat(4, auto) 1fr repeat(2, auto);
}

// NAVIGATION MEDIA QUERIES
@include respond(height-max) {
  .navigation {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr auto 1fr;
  }
  .navigation__side-list {
    display: none;
  }
}

// MAIN
.main {
  grid-area: main;
  background-color: $color-spotify-main;
}

// FOOTER
.footer {
  grid-area: footer;

  display: grid;
  grid-template-columns: auto auto 1fr auto 1fr;
}

// WRAPPER CONTAINS HEADER, MAIN, NAVIGATION AND FOOTER
.wrapper {
  height: 100vh;
  overflow: scroll;
  margin: 0 auto;

  display: grid;

  grid-template-areas:
    "navigation head head"
    "navigation main main"
    "navigation main main"
    "footer footer footer";

  grid-template-rows: 10.5rem auto auto 10rem;
  grid-template-columns: 230px 1fr;
}

// WTRAPPER MEDIA QUERIES
@include respond(phone) {
  .wrapper {
    grid-template-columns: 70px 1fr;
  }
}

// GRID LAYOUT WITHIN THE MAINSECTION
.auto-fit-column-spotify {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 2.5rem;
}
.auto-fit-rows-spotify {
  display: grid;
  grid-template-rows: repeat(2rem);
}

.auto-fit-column-large {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24rem);
  grid-gap: 2rem;
}
