.header {
  grid-area: head;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
}
.navigation {
  grid-area: navigation;
  display: grid;
  grid-template-rows: repeat(4, auto) 1fr repeat(2, auto);
}

.main {
  grid-area: main;
  background-color: $color-spotify-main;
}

.footer {
  grid-area: footer;

  display: grid;
  grid-template-columns: auto auto 1fr auto 1fr;
}

.wrapper {
  height: 100vh;
  overflow: scroll;
  margin: 0 auto;

  display: grid;

  grid-template-areas:
    "navigation head head"
    "navigation main main"
    "navigation main main"
    "footer footer footer";

  grid-template-rows: 9.5rem auto auto 10rem;
  grid-template-columns: 200px 1fr;
}
