// SCSS VARIABLES

:root {
  --color-svg-player-buttons: #fff;
}

$color-spotify-white: #fff;

$color-spotify-navigation: #000000;
$color-spotify-header: #101010;
$color-spotify-footer: #101010;
$color-spotify-cookies: #b3b3b3;
$color-spotify-main: #121212;
