.grid-auto-row {
    display: grid;
    grid-auto-rows: 1fr auto;
    /* max-width: 1500px;
    min-height: 100vh; */
}
.border-blue {   
    border: 2px dashed blue;
}

.border-pink {
    border: 2px dashed pink;
}

.border-green {
    border: 2px dashed green;
}

.main-grid-column {
    display: grid;
    grid-template-columns: auto 1fr;
    /* min-height: 100vh;
    max-width: 1500px; */
}

.main-layout {
    height: 100vh;
}

.column-1 {
    width: 175px
}


.row-2 {
    height: 96px
}