body {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.container {
    width: 650px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    display: grid;
    gap: 5px;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 60px;
    padding-right: 0;
    padding-left: 0;
    resize: none;
     
}

select {
   appearance: ;  /* I dont know what value to add here, only none and butt are showing */
}

hr {
    border: 1px solid #ccc;
    border-top: 2px solid #ccc;
    margin: 10px 0;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a1a1a; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #800080;
}