.main-content {
  display: grid;
  grid-template-rows: repeat(3, auto);
  border: solid rgb(255, 255, 255) 3px;
  border-bottom: solid rgb(255, 255, 255) 2px;
  margin: 10px 10px;
  gap: 10px;
}
#header button {
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-top: 20px;
  border-radius: 20px;
}

.nav-bar-a {
  color: rgb(105, 107, 112);
  text-decoration: none;
  align-items: right;
  font-family: sans-serif;
}
.nav-bar-a:hover {
  text-decoration: underline rgb(29, 185, 84);
  font-family: sans-serif;
}

.main-page-task-bar {
  align-items: center;
}

.recently-played button {
  background-color: rgb(20, 25, 34);
  border: none;
  color: white;
}
button:hover {
  background-color: lightgray;
  cursor: pointer;
}
.artists-for-you button {
  background-color: rgb(20, 25, 34);
  border: none;
  color: white;
}
.artists-for-you button:hover {
  background-color: lightgray;
  cursor: pointer;
}
