* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template:


    "main-grid     header" 100px
    "main-grid     main-grid" 1fr
    "footer        footer"  100px /
      200px         1fr;       
        height: 100vh;
        width: 100vw;
 }

 .main-grid {
    display: grid;
    grid-area: main-grid;
    grid-template:

      "left-menu    header"  100px
      "left-menu    main" 1fr 
      "footer       footer" 100px /
       200px       1fr;

    height: 100vh;
    width: 100vw;
  }
  
/* start of header section */
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: auto 1fr;
    background-color: rgb(6, 6, 6);
}

#upgrade{
    display: grid;
    grid-area: header;
    color: white;
    border: solid 1px white;
    justify-content: end;
    border-radius: 50px;
    margin: 15px 20px 10px 1700px;
    padding: 15px 30px 15px 20px;
}

#upgrade a {
    color: white;
}

#upgrade:hover {
    color: green;
}
/* end of header section */


/* start of left menu */
.left-menu {
    color: white;
    grid-area: left-menu;
    background-color: black;
}

div a {
    color: grey;
    text-decoration: none;
}

.title {
    margin: 20px 0 20px 60px;
}

/* image */
.logo-icon {
    position: absolute;
    height: 35px;
    width: 35px;
    left:  20px;
    top: 15px;
}

.left1 {
    color: grey;
   font-size: 13px;
   padding: 20px 0 50px 50px;
}

.home a{
    color: white;
}

/* image */
.home-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 25px;
    top: 82px;
}

.search { 
 border: none;
 background-color: black;
}

input:valid {
    background-color: black;
    border: none;
    outline: none;
    color: grey;
}

 /* image */
.search-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 25px;
    top: 115px;
}

/* image */
.libary-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 25px;
    top: 145px;
}

.playlist {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 20px 15px;
}

/* create playlist button */
.button {
    color: grey;
    font-size: 13px;
    padding: 0 0 20px 60px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: black;
    border: none;
}

.button:hover {
    color: pink;
}

/* image */
.plus-icon {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 240px;
}

.list {
    color: grey;
    line-height: 2.1;
    font-size: 12px;
    padding: 0 0 10px 15px;
}

.install {
    color: grey;
    font-size: 12px;
    margin-top: 300px;
    margin-left: 40px;
    padding-bottom: 10px;
}

/* image */
.small-icon {
    position: relative;
    height: 10px;
    width: 10px;
    left: 20px;
    top: 315px;
}

hr {
    color: grey;
    margin: 0 20px 0px 20px;
}

.profile {
    font-size: 13px;
    padding-left: 50px;

}

/* image */
.profile-icon {
    position: relative;
    height: 25px;
    width: 25px;
    left: 17px;
    top: 15px;
}

/* end of left menu section */






/* start of main section */
.main {
    display: grid;
    grid-area: main;
    overflow-y: scroll;
    background-color: rgb(27, 25, 38);
    grid-template:

    "main-nav"50px
    "main-content" 2fr 
    "main-content2" 1fr
    "main-content3" 1fr /
       1fr;
}

/* main section top nav bar */
.main-nav {
    display: grid;
    grid-area: main-nav;
    font-size: 13px;
    gap: 50px;
    font-weight: bold;
    margin-top: 20px;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 500px;
    padding-right: 500px;
    
}

p a {
    color: grey;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid rgb(7, 200, 7);
    
}




/* main spotify album content section */
.main-content {
    display: grid;
    grid-area: main-content;
    margin-top: 90px;
    padding-left: 20px;
    padding-right:  180px;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
}

.sub-title {
    grid-area: main-content;
    color: white;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-left: 15px;
}


.title-cover {
    display: grid;
    grid-area: main-content;
    color: white;
    place-content: center;
    margin-right: 70px;
    padding-top: 10px;
    
}

.subtitle {
    display: grid;
    grid-area: main-content;
    color: grey;
    justify-content: center;
    margin-right: 60px;
    padding-top: 10px;
}
/* end of first main content section */

/* second section in main content */

.main-content2 {
    display: grid;
    grid-area: main-content2;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
    place-content: start;

}

.created-by {
    display: grid;
    grid-area: main-content2;
    color: white;
    margin: 40px 0 0px 15px;
    padding-bottom: 50px;

}

.main-content2{
    display: grid;
    grid-area: main-content2;
    padding-left: 20px;
    margin-top: 70px;
    grid-template-columns: 250px 250px;
}


.album-cards2 {
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
    color: white;
    padding-top: 30px;
}

.title-cover2 {
    font-size: 18px;
    padding-left: 40px;
    padding-top: 15px;
}




/* end of section 2 main content */


/* start of section 3 main content */


.main-content3{
    display: grid;
    grid-area: main-content3;
    padding-left: 20px;
    margin-top: 80px;
    grid-template:

    "album-cards3" 1fr /
       1fr;
}

.popular-artist{
    display: grid;
    grid-area: main-content3;
    color: white;
    padding-left: 15px;
    padding-top: 40px;

}

.popular-subheading {
    display: grid;
    grid-area: main-content3;
    color: grey;
    padding-left: 15px;
    padding-top: 80px;
}

.main-content3{
    display: grid;
    grid-area: main-content3;
    padding-left: 20px;
    margin-top: 80px;
    grid-template-columns: 250px 250px;
}


.album-cards3 {
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
    color: white;
    padding-top: 30px;
    border-radius: 5px;
}

.title-cover3 {
    font-size: 18px;
    padding-left: 40px;
    padding-top: 15px;
}

.you-cover {
    border-radius: 100px;
}

.player-cover {
    border-radius: 100px;
}
/* end of section 3 main content */
/* end of main content section */


/* start of the footer section */
.footer {
    display: grid;
    grid-area: footer;
    background-color: rgb(42, 41, 41);
    grid-template:

    "footer-left  main-footer  right-footer" 70px /
      1fr            1fr          1fr;


}

.album {
    grid-area: footer-left;
    color: white;
    font-size: 11px;
    margin-top:40px;
    margin-left:65px

}

.album-cover {
    position: relative;
    grid-area: footer-left;
    height: 35px;
    width: 35px;
    top: 30px;
    left: 15px;
    border-radius: 5px;
}

.singer {
    grid-area: footer-left;
    color: grey;
    font-size: 10px;
    margin-left: 65px;
    margin-top: 50px;
}
/* image */
.heart-icon {
    position: relative;
    grid-area: footer-left;
    height: 25px;
    width: 25px;
    left: 190px;
    top: 40px;
    cursor: pointer;
}

/* image */
.save-icon {
    position: relative;
    grid-area: footer-left;
    height: 20px;
    width: 20px;
    left: 230px;
    top: 42px;
    cursor: pointer;
}

/* image */
.shuffle-icon {
    position: relative;
    grid-area: main-footer;
    height: 20px;
    width: 20px;
    top: 23px;
    left: 180px;
    cursor: pointer;
}

/* image */
.rewind-icon {
    position: relative;
    grid-area: main-footer;
    height: 25px;
    width: 25px;
    left: 220px;
    top: 20px;
    cursor: pointer;
}

/* image */
.play-icon{
    position: relative;
    grid-area: main-footer;
    height: 30px;
    width: 30px;
    left: 280px;
    top: 17px;
    cursor: pointer;
}

/* image */
.forward-icon {
    position: relative;
    grid-area: main-footer;
    height: 25px;
    width: 25px;
    left: 345px;
    top: 20px;
    cursor: pointer;
}
/* image */
.replay-icon {
    position: relative;
    grid-area: main-footer;
    height: 25px;
    width: 25px;
    left: 395px;
    top: 20px;
    cursor: pointer;
}
/* image */
.options-icon {
    position: relative;
    grid-area: right-footer;
    height: 20px;
    width: 20px;
    left: 400px;
    top: 40px;
    cursor: pointer;
}
/* image */
.share-icon {
    position: relative;
    grid-area: right-footer;
    height: 20px;
    width: 20px;
    left: 450px;
    top: 40px;
    cursor: pointer;
}
/* image */
.volume-icon {
    position: relative;
    grid-area: right-footer;
    height: 20px;
    width: 20px;
    left: 500px;
    top: 40px;
    cursor: pointer;
}


.song-time {
    display: grid;
    grid-area: main-footer;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 55px;
    margin-left: 10px;
}

.song-time input {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    transition: 0.4s ease;
    width: 560px
    
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    background-color: #a5a5a5;
    border-radius: 20px;
}


input[type="range"]::-moz-range-track {
    height: 5px;
    background-color: #a5a5a5;
    border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #fff;
    height: 1rem;
    width: 1rem;
    border-radius: 10px;
}

input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #fff;
    height: 1rem;
    width: 1rem;
    border-radius: 10px;
}



