*{
    padding:0;
    margin: 0;
    font-family: sans-serif;
    color: white;
    font-size: 12px;
    
}
.container{
    height: 100vh;
    display: grid;
    grid-template: 
    "left-Side-Bar header " 70px
    "left-Side-Bar main" 1fr
    "footer footer" 80px /
        1fr 1fr;
}
.header {
    grid-area: header;
    padding: 20px;
    background-color: rgb(31, 23, 23);
}

.header ul {
    list-style: none;
}

.header button{
    height: 35px;
    width: 200px;
    background-color: black;
    border-radius: 30px;
    border:1px solid;
    margin-left: 900px;

}

button:hover {
    background-color: grey;
    cursor: pointer;
}

.left-Side-Bar {
    grid-area: left-Side-Bar;
    display: grid;
    grid-template-rows:0.5fr 1fr 200px;
    background-color: black;
    gap:20px;
}

/* .left-side-menu1 {
 margin-top: 20px;
 color: gray;
}  */


.left-side-menu1 img{
    width: 30px;
    height:25px;
    position: relative;
    padding-top:15px;
    padding-right: 10px;
    
    
}
.left-side-menu1, h5{
    color: white;
    font-size: 12px;
    margin: 20px;
    
}
.left-side-menu2 li{
    list-style: none;
    grid-area: left-side-menu2;
    display: grid;
    grid-auto-rows: auto;
    color: black;
    margin-left: 22px;
    gap:5px;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    font-size: 10px;
}
.left-side-menu2 img {
    
    position:absolute;
}
h6 {
    padding-left: 20px;
}
.create-playlist {
    padding-left: 20px;
    position: relative;
}

.profile {
    margin-left: 20px;
    margin-right: 20px;
    color: gray;
}
.profile img {
    margin-top:10px;    
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows:repeat(auto, 1fr);
    background-color: rgb(23, 18, 18);
    gap:30px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    grid-auto-flow: column;
    gap:15px;
    margin-left: 30%;
    font-weight: bold;
    font-size: 15px;
    
} 

.navigation ul a {
    color:gray;    
}

.navigation ul a:hover {
    text-decoration: underline;
    text-decoration-color: lime;
}

.main h1 {
    padding-left: 17px;
}

.recently-played {
    display: grid;
    grid-template-columns: repeat(6, 180px);
    text-align: center;
    line-height: 1.6;
    font-weight: bold;
    font-size: 12px;
    gap:3px;    
}

.recently-played2 {
    line-height: 1;
}

.created-for {
    display: grid;
    grid-template-columns:repeat(2, 180px);
    text-align: center;
    line-height:1.6;
    font-weight: bold;
    font-size: 12px;
    gap: 3px;
}

.popular-artist {
    display: grid;
    grid-template-columns:repeat(2, 180px);
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    gap: 3px;
}


.footer {
    grid-area: footer;
    display: grid;
    
    grid-template-columns: 300px 1fr 300px;
    gap:5px;
    background-color: rgb(58, 53, 53);
}

.footer1 ul, .footer2 ul, .footer3 ul{
    list-style-type: none;
    display: flex;
    margin-left: 30%;
    gap:15px;

    
  } 
  

.footer1 {
    place-items: center;
    padding-left: 10px;
    display:flex;
    gap:10px;
    
    
}

.footer2 {
    display: grid;
    grid-template-rows: 50px 10px;
    padding-top: 3%;
}

.music-bar {
    border-top: 3px solid gray;
    width: 400px;
    margin-left: 50px;
    margin-top: 10px;

}

.footer3 {
    display:flex;
    padding-top: 10%;
    margin-right: 50px;
    gap:10px;    
}

.icons-bar {
    border-top: 3px solid gray;
    width: 100px;
    margin-top: 5px;
}
