body {

    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 
    "header main"
    "footer footer";

    height: 100vh;

    color: aliceblue;

    font-family: 'Lato',sans-serif;
    font-weight:bolder;
}

header {
    background-color: black;
}

main {
    background-image: linear-gradient(to bottom, #1b121d, #151515);
    

    display: grid;
    grid-template-rows: 50px auto auto auto;

    overflow:scroll;
}

footer {

    background-color: #1a1a1a;
    grid-area: footer;
    

}

.logo {
    height: 50px;
    vertical-align: middle;
}

.logotext {
    display: inline;
    height: 50px;
    margin-left:10px;
    font-size: x-large;
    text-align: center;
    
}


.logo img {
    height: 35px;
    width: 35px;
    margin-left: 30px;
    margin-top: 20px;
    object-fit: contain;
}


img {
    width: 180px;
    height: 180px;
}

.create img {
    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

.create {
    margin-bottom: 0;
}

.banner {
    background-color: rgba(27, 27, 27, 0.5);
    position: sticky;
    top:0;
    
}

ul{
    list-style: none;
    padding-inline-start: 0px;

}

li {
    margin-bottom: 5px;
    padding-left: 30px;
    
}

ul img {
    height: 30px;
    width: 30px;
    
    
}

li span {
    margin-left: 10px;
    margin-bottom: 5px;
}

li:hover {

    border-left:solid 2px lawngreen;
    cursor: pointer;
}


.playlist-text {
    display: inline;
    padding-left: 10px;
    vertical-align: middle;
    
}


.title {
    font-size: large;
    margin-left: 30px;
    
}

.nav {
    margin-bottom: 30px;
    margin-top: 30px;
}

.playlist li {
    margin-bottom: 10px;
}


.banner {

    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: ". login";

   

}

.login {

    grid-area: login;
    text-align: center;
    vertical-align: middle;

    margin-top: 10px;
    border: white 1px solid;
    width: fit-content;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;

    
}


.banner img {
    width: 30px;
    height: 30px;
}

.banner span {
    position:relative;
    padding: 10px;
    vertical-align: middle;
}


h2, h3 {
    margin-left: 30px;
}


.card {
    display: inline-block;
    text-align: center;
    width: 200px;
    vertical-align: top;
    padding: 5px;
    background-color: rgba(27, 27, 27, 0.5);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    height: 320px;
    
    
}



.card img {
    margin-top: 5px;
}


.card:hover {
    background-color: rgba(115, 114, 114, 0.5);
    cursor: pointer;
}


p{
    font-size: larger;
}
.subtitle, h3 {
    font-size: small;
    color: darkgray;
}

 .artist img {
    border-radius: 50%;
}


footer {
    display: grid;
    grid-template-columns: 240px 1fr 300px;
}

.footerleft {
    display: grid;
    grid-template-columns: 50px 1fr 60px;
    place-items:center;
    margin-left: 20px;
}

.footerleft >img {
   width: 45px;
   height: 45px;
   
}

.brano {
    font-size: 10px;
    color: darkgray;
}

.button img {
    width: 20px;
    height: 20px;
}



.download {
    display: inline;
    
}

.footermiddle {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.footermiddle span {
    margin:5px;
}

.time, .progressbar {
    display: inline-block;
}


.progressbar {
    margin-bottom: 5px;
     height: 3px;
     width: 450px;
     background-color: aliceblue;
    margin-left: 30px;
    margin-right: 30px;
}

.footerright span {
    margin-top: 35px;
    margin-right: 10px;
}

.volume {
    background-color: lightslategray;
    width: 100px;
    height: 3px;
    display: inline-block;
    margin-bottom: 10px;
}