*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white
}
body{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}
/* check and remove all the borders */
/* main container grid */
.main-container {
    display:grid;
    grid-template:
    "left-menu header header" 90px
    "left-menu  main main" 1fr
    "footer footer footer"100px/
    250px   1fr      1fr;
    border: 2px solid black;
    height:100vh;

}

.left-menu{
    grid-area: left-menu;
    display:grid;
    grid-template-rows: 70px 150px 1fr 70px;
    grid-gap:10px;
    background-color: #000000; 
    padding:10px
}
/* here check the repetition of the classes again */
.Spotify-logo >img {
    width:170px;
    height:70px;  
    padding-left:10px  
}
.Home {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap:10px;
    padding:10px
}
.home-logo > a,
.search > a,
.library >a{
    text-decoration: none;
    font-size:20px;
    padding:5px
}
.home-logo > a > p,
.search > a > p,
.library > a > p,
.create-list > p,
.profile > span {
    padding-left:10px;
    margin:0;
    display:inline;
    margin-bottom:10px; 
    font-size:20px;
    filter:invert(40%)
    
}
.Playlist {
   display:grid;
   grid-template-rows: repeat(6, 50px);
   padding:10px
}

.create-list > i{
    font-size:40px
}
.name-list > span{
    font-size:20px;
    filter:invert(40%)
}
.profile{
   margin:10px
}
.profile:second-child > span {
    font-weight:700;
}
hr{
    margin:5px
}
.home-logo > a > p{
    color:white;
    font-weight:700;
    filter:invert(5%);
    font-size:22px;
}
/* HEADER */
.header{
    grid-area: header;
    background-color: #292c32;
}

.header > button{
    color:white;
    background-color: #292c32;
    border-radius: 30px;
    width:240px;
    height: 50px;
    border: 1px solid white;
    font-size:16px;
    font-weight:650;
    float:right;
    margin-top:20px;
    margin-right:20px
}

/* main grid for playlist */
.main{
    grid-area: main;
    display:grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-gap:15px;
    overflow-y: scroll;
    background-color:#141922;
    padding:15px
}
/* check this below line also about the border and all and remove */
/* .recently-played, .created-playlist, .popular-artist{
    border: 1px dashed blue;
}  */
.nav-bar {
    display:grid;
    grid-template-columns: repeat(6, 150px);
    justify-content: center;
    align-items: center;
    padding:5px
}
.options {
    font-size: 15px;
    font-weight: 650;
    filter:invert(20%);
    text-align:justify;
}
.options >span:hover{
    color:white;
    border-bottom: 4px solid greenyellow;
}
/* three different songs list grid */
.recently-played, 
.created-playlist, 
.popular-artist {
    display:grid;
    grid-template-rows: 73px 1fr;
    grid-gap:5px;
    padding:5px
}
/* here i created grid for to check how it works you have to create the good grid again */
.song-cards {
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    grid-gap:10px;
    
}

.song-cards .song1,
.song3{
    display:grid;
    grid-template-rows: 1fr 0.3fr 20px;
    grid-row-gap: 10px;
    text-align:center
}

.song-cards .song2{
    display:grid;
    grid-template-rows: 1fr 0.3fr;
    grid-row-gap: 10px;
    text-align:center

}
.song1 .image >img,
.song2 .image >img,
.song3 .image >img{
    width:231px;
    height:250px;
    object-fit: cover;
}
.song3 .image >img {
border-radius: 50%;
}
.song-name > h3{
    font-weight: 800;
    margin-top:15px;  
}
.title > h2 {
    font-weight:bold;
    font-size:30px;
}
.title > h2 >span {
    font-size: 15px;
    filter: invert(40%);
}
.song-subtitle{
    font-weight: bold;
    filter: invert(40%);
}
/* footer section */
.footer{
    grid-area:footer;
    display:grid;
    grid-template-columns: 0.4fr 1fr 0.3fr;
    grid-gap:5px;
    background-color: #282828;
}
.currently-playing{
    display:grid;
    grid-template-columns: 1fr 70px;
    grid-gap:5px;
}
.current-song{
    display:flex;
    width:70%
}
.current-song > img{
    width:80px;
    height:80px;
    object-fit: cover;
    border-radius: 10px;
    padding:8px
}
.current-song > p {
    font-size: 18px;
    text-align: center;
    margin-top:20px;
    font-weight: 700;
}
.current-song >p > span{
    font-size:15px;
    filter:invert(40%);
    text-align: center;
    margin-top:20px 
}
.currently-playing .icons > i {
   padding:5px;
   margin-top: 25px;
   font-size:20px;

}
.music-icons  {
    display:flex;
    align-items: center;
    justify-content: center;
}
.music-icons >i{
    font-size: 25px;
    padding :10px
}

.music-player{
    display:grid;
    grid-template-rows:repeat(2, 1fr)
}
.music-timer .playBar {
    background-color: azure;
    width:500px;
    height:5px;
    border-radius: 10px;
    margin-top:15px
}
.music-timer{
    display:flex;
    flex-direction: row;
    margin-top:3px;
    padding-left:200px
}
.music-timer >div {
    margin:10px
}
.volume-controls {
    padding:35px;
}
.volume-controls > i {
    margin:2px
}
