* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr 100px;
  line-height: 1.6;
  font-family: Gotham Medium, Helvetica, Arial, sans-serif;
  min-width: 250px;
}

h2 {
  font-size: 0.8rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.75rem;
}

.middle-main {
  background-color: #141922;
  display: grid;
  grid-template-rows: repeat(4, auto);
  overflow-y: scroll;
}

.middle-top {
  background-color: #080b12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}

.upgrade-link {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid white;
  font-size: 0.875rem;
  border-radius: 25px;
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}
.nav-bar-top {
  margin-bottom: 20px;
}

.nav-bar-top ol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  text-transform: uppercase;
  margin-top: 20px;
}

.selected {
  border-bottom: 2px solid #adff2f;
  width: 90px;
  padding-bottom: 5px;
}

.recently-played,
.created-for,
.popular-artists {
  margin-left: 25px;
}

.recently-played h2,
.created-for h2,
.popular-artists h2 {
  font-size: 1.5rem;
}

.recently-played-albums ul,
.created-for ul,
.popular-artists ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 15px;
  margin: 25px 0px 25px;
  object-fit: cover;
}

.popular-artists img {
  border-radius: 50%;
}

.albums {
  width: 200px;
}

.middle-main h2,
.middle-main h3,
.avatar,
.play-bar,
.play-bar a,
.active,
.avatar-and-download .avatar {
  color: white;
}

.middle-main h3,
.subtitle {
  text-align: center;
}

.left-menu {
  background-color: rgba(0, 0, 0, 1);
  display: grid;
  grid-template-rows: 100px 100px 100px 1fr 125px;
  overflow-y: hidden;
  overflow-x: hidden;
  grid-row: 1 / 3;
}

.active {
  border-left: 1px solid #adff2f;
}

.spotify-icon,
.nav-bar-left,
.playlist-nav,
.playlists,
.avatar-and-download,
.nav-bar-top,
.middle-main p,
.middle-main .sub-heading-middle,
.now-playing-text p,
.play-bar .icons-bottom-left {
  color: #7d7f84;
}

.playlists {
  border-top: 1px solid #282828;
  margin: 20px;
}

.playlists ul {
  margin-top: 15px;
}

.spotify-icon {
  padding: 24px;
}

.playlist-nav {
  margin-top: 40px;
}

.nav-bar-left li img,
.playlist-nav li img,
.avatar-and-download img,
#logo-small {
  height: 24px;
  width: 24px;
}

.nav-bar-left li,
.playlist-nav li,
.avatar-and-download {
  padding: 0 16px;
}

.playlists li,
.nav-bar-top,
.now-playing-text h4,
.subtitle,
.subheading {
  font-size: 0.9rem;
  line-height: 1;
}

.now-playing-text p {
  font-size: 0.75rem;
}

.nav-bar-left ol,
.playlist-nav ol,
.playlists ul,
.avatar-and-download {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.avatar-and-download {
  margin-bottom: 15px;
}

.playlists li {
  padding: 0 5px;
}

.avatar {
  border-top: 1px solid #282828;
}

#avatar-icon {
  border-radius: 50%;
  border: 1px solid white;
}

.avatar h2,
.avatar img {
  margin-top: 10px;
}

ol li,
ul li {
  list-style: none;
}

ol li a,
.avatar-and-download a,
.avatar,
ul li a,
.play-bar a {
  text-decoration: none;
}

ol li a,
.avatar-and-download a,
.avatar {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 17px;
  margin-left: 8px;
}

.add-icon {
  fill: white;
}

.play-bar {
  background-color: rgba(24, 24, 24, 1);
  grid-column: 1 / 4;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.playbar-left,
.playbar-middle-top,
.playbar-middle-bottom,
.playbar-right {
  display: flex;
  flex-direction: row;
}

.playbar-left {
  align-items: center;
  margin-left: 15px;
}
.playbar-left h4 {
  display: block;
}

#sinister-small {
  width: 100%;
  max-width: 50px;
  height: auto;
  min-width: 30px;
}

.playbar-middle {
  display: grid;
  grid-template-rows: 50px 50px;
}

.playbar-middle-bottom,
.playbar-middle-top {
  justify-content: center;
  align-items: center;
}

.playbar-right {
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}
.playbar-middle-bottom,
.playbar-right,
.playbar-left,
.responsive {
  gap: 15px;
}

.playbar-middle-top {
  gap: 30px;
}

#volume-bar,
#playback-bar {
  background-color: #5a5a5a;
  color: white;
  height: 2px;
  border-radius: 5px;
}
#volume-bar {
  width: 30%;
}
#playback-bar {
  width: 80%;
}

.playbar-icons {
  font-size: 0.75rem;
}

.playbar-icons-middle {
  font-size: 1rem;
}

#play-icon {
  font-size: 1.8rem;
}

@media screen and (max-width: 650px) {
  .playbar-icons-middle {
    font-size: 0.8rem;
  }
  #play-icon {
    font-size: 1.4rem;
  }
  .responsive {
    flex-direction: column;
    margin-right: 10px;
  }
  .playbar-middle {
    margin-right: 10px;
  }
}

@media screen and (min-width: 550px) {
  #logo-small {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  #logo-large,
  .playlists,
  .playlist-nav,
  .nav-bar-left h2,
  .avatar-and-download h2 {
    display: none;
  }
  .left-menu {
    grid-template-rows: 70px 1fr 125px;
  }
  body {
    grid-template-columns: 65px 1fr;
  }
  .avatar {
    border-top: none;
  }
}

@media screen and (max-width: 400px) {
  #sinister-small {
    display: none;
  }
  #volume-bar {
    display: none;
  }
}

.responsive {
  display: flex;
}

.wrapper {
  float: left;
  position: relative;
}
.wrapper:hover .play {
  display: block;
  opacity: 0.7;
}

.wrapper:hover .albums {
  opacity: 0.2;
  /* width: 210px; */ /* GROW EFFECT */
  /* transition: width 0.3s, opacity 0s;
  transition-timing-function: ease-in-out; */
}

.play {
  position: absolute;
  display: none;
  top: 30%;
  width: 3.125rem;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  border-radius: 50%;
}

a:hover,
.nav-bar-top h2:hover {
  color: white;
}

.play-bar a:hover {
  color: #adff2f;
}
