
/* TODO: adjust the footer so it adapts to small screens (phones) */
/* TODO: go through the html/css - make sure all classes names make sense */
/* TODO:  go through the css - delete every line that is not useful*/
/* TODO:  go through the css and html - see whether new classes can be created to avoid repetition - refactor what needs to be */
/* TODO:  add hover styles to the links that do not yet have one. Also add :focus styles where appropriate. Could also see whether transitions can be considered*/


/*OVERALL LAYOUT*/
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    color:rgb(121, 120, 120);
}

main {
    background-color: rgb(28, 28, 34);
    display: grid;
    grid-template-columns: auto 1fr;
}

#main-header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(18, 18, 23);
    height: 80px;
    z-index: 1;
}



/*RECCURENT STYLES*/

a {
    text-decoration: none;
}

h2 {
    color: white;
}
h3 {
    font-weight:300;
    font-variant: small-caps;
    font-size: 16px;
}
h4 {
    display: inline-block;
    font-size: 12px;


}
p {
    font-size: 10px;
    font-stretch: expanded;
}

li {
    display: block;
}

.color-white {
    color: white;
}

.black-background {
    background-color: black;  
}

.left-menu {
    width: 170px;
}

.big-icon {
    width: 30px;
}
.small-icon {
    width: 15px;
}

.aligned {
    display: grid;
    align-self: center; 
}

.placed {
    display: grid;
    place-self: center;
}

.icon-next-to-text {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 5px;
}

progress {
    height: 4px;
    width: 100%;
}





/*SIDE MENU*/
#side-menu {
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100vh - 170px);
    z-index: 1;
}
#side-menu, 
#logo-container {
    padding: 10px 0 0 10px;
}

/*side-menu: header: general menu*/

#general-menu ul {
    padding: 5px 0;
}


/*side-menu: main section: playlist menu*/
#playlist-menu li{
    margin: 17px 0;
}

#playlist-menu li:first-child > a {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}

#new-playlist {
    background-color: rgb(121, 120, 120);
    height: 30px;
}

#create-playlist {
    display: inline-block;
    align-self: center;
    font-size: 13px;
    font-weight: 600;
}

/*side-menu: footer: personal profile*/
#side-menu footer {
    bottom: 80px;
    padding: 5px 0;
    position: fixed; 
    bottom: 84px;
}

#download-app img {
    width: 10px;
}

#profile, 
#download-app {
    padding: 5px 0;
    width: 160px;
}

#download-app {
    border-bottom: 
    1px solid grey;
    display: grid;
    grid-template-columns: 12px 1fr;
}


#profile .round-container {
    height: 25px;
    width: 25px;
    border: 1px solid greenyellow;
}

/*HEADER*/

/*header: spotify logo (atop side-menu)*/
.spotify-logo-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    place-content: center;
    width: 170px;
    padding-left: 10px;
    height: 100%;
    margin: 0;
}

#logo-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0;
}

#logo {
    background-color: white;
    width: 100%;
    border-radius: 40px;
}

#h1-container {
    display: grid;
    align-content: center;
}

h1 {
    display: grid;
    grid-template-columns: 86px 12px;
    position: relative; 
    color: white;
    font-size: 25px;
}

#r {
    color: white;
    font-size: 5px;
    padding-top: 7px;
    width: fit-content;
}

/*header: upgrade-button */
button {
    position: absolute;
    right: 20px;
    top: 10px;
    border: 1px solid white;
    padding: 0 40px;
    height: 40px;
    border-radius: 40px;
    color: white;
    background: none;
}

button > h3 {
    color: white;
}


/*MAIN CONTENT*/

/*main-content: categories navigation*/
#categories-menu {
    height: auto;
    position: fixed;
    background-color: rgb(28, 28, 34);   
    top: 80px;
    left: 190px;
    z-index: 1;
}

#categories-menu li {
    display: inline-block; 
    margin: 0 12px 0 0;
}

/*main-content: categories display (albums, artists, ...)*/

#main-content {
    width: calc(100vw - 200px);
    position: relative;
    margin-left: 170px;
}

#display-content {
    width: calc(100vw - 190px);
    padding-top: 140px;
}


/*applies to each category: */
.playlists-container {
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fit, 140px);
    gap: 30px 10px;
}

.category-header {
    padding-left: 20px;
}


/*applies to each item within each category: */
.album {
    height: 200px;
    width: 140px;
    padding: 5px 0;
    text-align: center;
    position: relative;
    display: grid;
}
.img-container {
    position: relative;
}
.round-container{
    border-radius: 140px;
}

#display-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.artist img {
    border-radius: 140px;
}

.album-title {
    padding: 5px;
    font-variant: normal;
    font-weight: 600;
    font-size: 13px;
    color: white;
}


/* FOOTER */



#main-footer {
    background-color: rgb(45, 45, 45);
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: calc(100vw - 10px);
    display: grid;
    grid-template-columns: minmax(80px, 200px) 1fr minmax(80px, 200px);
    z-index: 1;
}
/*footer: left: displays current track*/
#display-track {
    display: grid;
    grid-template-columns: minmax(40px, 60px) 1fr repeat(2, minmax(0, 20px));
    gap: 5px;
    align-self: center;
    color: white;
}
#display-track div h4 {
    color: white;
}

#current-track-img {
    width: 100%;
    margin: 5px 0;
}
/*footer: middle: displays player: controls and progress bar*/
#player {
    display: grid;
    grid-template-rows: 2fr 1fr;
    max-width: 200px;
    place-self: center;
}
#settings-shortcuts {
    display: grid;
    grid-template-columns: repeat(3, minmax(15px, 40px)) minmax(0, 1fr);
    position: absolute;
    right: 60px;
    top: 35px;
}
#player-controls{
    display: grid;
    grid-template-columns:  minmax(0, 40px) repeat(3, minmax(15px, 40px)) minmax(0, 40px);
}
#player-display {
    display:grid;
    grid-template-columns: auto 1fr auto;
    gap: 8px;
}
/*footer: right: displays quick settins, incl. volume and its progress bar*/
#volume {
    width: 90%;
}
 
progress {
    min-width: 50px;
}



/*ANIMATIONS*/

/* :hover AND :active  */

.hover-color:hover p,
.hover-color:hover h4 {
    color: white;
    text-shadow: 1px 1px 1px rgb(169, 169, 169);
}

.hover-line-below,
.hover-side-border {
    position: relative;
}

.hover-underline:hover h4, 
.hover-underline:hover p {
    text-decoration: underline;
}

.hover-line-below:hover h3:after{
    /* adapted from the solution Nathan posted */
    content: "";
    display: block;
    background: rgb(103, 247, 255);
    position: absolute;
    width: 60%;
    height: 1.5px;
    bottom: -2px;
    left: 20%;
}

.hover-side-border:hover h4 {
    color: white;
}

.hover-side-border:hover ::after{
    /* adapted from the solution Nathan posted */
    content: "";
    display: block;
    background: rgb(103, 247, 255);
    position: absolute;
    height: 90%;
    left: -8px;
    top: 3px;
    width: 2px;
}

.album .hover-img-container {
    position: absolute;
    top: 50px;
    left: 48px;
    width: 50px;
    visibility: hidden;
}

.album:hover .hover-img-container {
    visibility: visible;
}

.album:hover .img-container img {
    opacity: 0.4;
}


.small-icon:hover {
    background-color: white;
    border: 3px solid white;
    transition-duration: 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.31);
    transform: scale(0.95, 1);
    border: none;
    transition-duration: 0.5s;
}

@media screen and (max-width: 650px) {
    #main-header {
        height: 60px;
    }
    #categories-menu, 
    #side-menu {
        top: 60px;
    }
}

/*SMALL DISPLAYS: smaller than 650px */

@media screen and (max-width: 650px) {
    
    /*gets rid of unecessary elements*/
    .desktop-only {
        width: 0;
        height: 0;
        visibility: collapse;
    }


    
    /*overal layout changes*/

    #side-menu {
        height: 100vh;
    }


    .phone-specific-format,
    #side-menu,
    #download-app, 
    #profile {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        place-items: center;
        width: 50px;
        margin: 0;
        padding: 5px 0 0 0;
        border: none;
    }   

    #categories-menu {
        left: 70px;
    }


    #side-menu,
    .spotify-logo-container {
        padding: 0 5px;
    }

    #main-content {
        width: calc(100vw - 70px);
        position: relative;
        margin-left: 50px;
    }

    /*footer - audio controls and display*/

    #main-footer {
        height: 50px;
    }

    #settings-shortcuts {
        position: static;
    }

    /*smaller, more specific changes, including animations*/

    .big-icon, 
    #profile {
        margin-top: 10px;
    }
    .big-icon:hover, 
    #profile:hover .round-container,
    .small-icon:hover {
        background-color: white;
        border: 6px solid white;
        transition-duration: 0.2s;
        border-radius: 5px;
    }
    
    #download-app .small-icon {
        width: 22px;
    }

}


@media screen and (max-width: 550px) {
    #display-content {
        width: 100%;
    }

    .playlists-container {
        grid-template-columns: 100%;
        gap: 0;
        margin-bottom: 80px;
    }

    .album {
        height: 40vh;
        width: 50vw;
        margin: 0 auto;
        padding: 5px 0;
    }
    
    .album-title {
        overflow-x: scroll;
        height: 40px;
        padding: 0;
        margin-top: 5px;
    }

}

