/* Reset  */

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.overflow {
  display: grid;
  width: auto;
  overflow-x: auto;
  max-height: 100vh;
  overflow-y: scroll;
}

.two-column-grid__two-extender {
  display: grid;
  grid-template-columns: 243px 1fr;
  height: calc(100vh - 90px);
}

/* Aside  */

aside {
  background-color: black;
}

.four-row-grid-expand-three {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.two-column-grid {
  display: grid;
  grid-auto-flow: column;
}

.spotify-logo {
  padding-top: 30px;
  padding-left: 30px;
}

.logo-text {
  padding-top: 20px;
  padding-right: 120px;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.left-menu-icons-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

a {
  text-decoration: none;
  color: #aeaeae;
}

a:hover {
  color: white;
}

.song-options li {
  color: #9c9c9c;
}

li:hover {
  color: white;
}

.song-options li {
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}

p {
  color: #ffffff;
  padding-top: 20px;
}

/* Header  */

.main-header-column-grid {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
}

header {
  height: 100px;
  background-color: #202020;
}

.arrow1 {
  padding-top: 20px;
  padding-left: 15px;
}

.arrow2 {
  padding-top: 20px;
  padding-left: 15px;
}

.upgrade {
  padding-top: 30px;
}

.upgrade-button {
  border: solid 2px #827f7f;
  font-size: x-large;
  color: white;
  padding: 10px 50px 10px 50px;
  background-color: #000000;
  border-radius: 40%;
  margin-right: 70px;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.user-profile-grid {
  display: grid;
  grid-auto-flow: column;
}

.user-profile {
  padding-top: 10px;
  color: white;
}

.user-profile-button {
  background-color: black;
  border: solid black;
  height: 50px;
  border-radius: 40px;
  margin-top: 20px;
  gap: 20px;
  margin-right: 25px;
  padding-right: 10px;
}

.user-profile-button:hover {
  background-color: #282828;
}

.user-profile-pic {
  padding-top: 5px;
  padding-left: 3px;
}

/* Main Section - Recently Played  */

main {
  overflow: clip;
  overflow-x: clip;
  overflow-y: scroll;
  max-height: calc(100vh - 90px);
}

.album-category-section {
  background-color: #202020;
}

.album-category-section2 {
  background-color: #121212;
}

.three-grid-expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

h2 {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

h2:hover {
  text-decoration: underline;
}

.see-all {
  color: #909090;
  padding-top: 20px;
  padding-right: 15px;
}

.see-all:hover {
  text-decoration: underline;
}

.music-cards-section {
  background-color: #151515;
}

.music-cards-main-column-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
}

.music-card-grid {
  display: grid;
  grid-auto-flow: row;
}

.card {
  height: 300px;
  width: 208px;
  background-color: #282828;
  margin-top: 20px;
  margin-left: 20px;
  border: 10px solid #282828;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card:hover {
  background-color: #727272;
}

h3 {
  color: white;
}

h4 {
  color: #949494;
}

.itemsContainer {
  float: left;
  position: relative;
}
.itemsContainer:hover .play {
  display: block;
}

.play {
  position: absolute;
  display: none;
  top: 45%;
  width: 40px;
  margin: 0 auto;
  left: 150px;
  right: 0px;
  z-index: 100;
}

.avatar img {
  border-radius: 50%;
}

/* Footer Section  */

.main-footer > * {
  padding: 0;
  padding-top: 20px;
  height: 110px;
  background-color: #181818;
}

.main-footer ul {
  margin: 0;
  padding: 0;
}

.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.grid-auto__column {
  display: grid;
  grid-auto-flow: column;
}

.center-wrapper {
  max-width: 494px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.icons li {
  width: 56px;
  height: 56px;
}

.song-icon {
  padding: 0;
}

.media {
  width: 32px;
  height: 32px;
}

.controls-container {
  width: 100%;
  height: 56px;
}

li {
  color: white;
}

.p1 {
  padding-top: 10px;
  padding-left: 10px;
}

p {
  margin: 0;
  font-size: small;
  padding-left: 10px;
  padding-bottom: 20px;
}

.heart {
  padding-top: 10px;
  padding-left: 40px;
}

.display {
  padding-top: 10px;
  padding-left: 30px;
}

.time {
  color: white;
}

/* Media Screen  */

@media screen and (max-width: 1592px) {
  .main-header-column-grid {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
  }

@media screen and (max-width: 1100px) {
  .main-header-column-grid {
        grid-template-columns: auto auto 1fr auto;
  }

  .upgrade {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  .user-profile-grid {
  display: grid;
  grid-auto-flow: column;
}

  .user-profile, .arrow-down-header {
    display: none;
  }
}

@media screen and (max-width: 1592px) {
 .left-menu-icons-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
  
@media screen and (max-width: 938px) {
  .left-menu-icons-grid {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}

.logo-text {
    display: none;
  }
