* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
    font-family: sans-serif;
    font-weight: 500;
}
body {
    background-color: black;
}
.container {
    height: 100vh;
    grid-template:
    "left  main"   calc(100vh - 200px)
    "audio audio" 200px /
    350px   1fr;
}

/* SHORTCUTS TO RE-USE CLASS */
.g {
    display: grid;
}
.p {
    padding-left: 40px;
}
/* LEFT-SIDEBAR */

.left {
    grid-area: left;
    grid-template-rows: 100px 180px 130px 1fr 50px 80px;
    overflow: hidden;
}

.left > div:nth-child(1) > img {
    height: 60px;
}
.left > div:nth-child(1) {
    padding: 15px 0px;
}

.logo {
    position: relative;
    top: 10px;
    height: 40px;
    width: 40px;
}
nav a {
    text-decoration: none;
}
nav label {
    font-size: 24px;
    padding-left: 10px;
}
.playlist-list {
    overflow: scroll;
}
.playlist > h2 {
    padding-top: 20px;
    color: white;
}
.playlist-list ul {
    overflow: scroll;
    list-style: none;
}
.playlist-list li {
    margin: 20px 0;
    font-size: 24px;
}
.submit {
    color: black;
    background-color: gray;
    padding-bottom: 52px;
}
.submit, .newlist {
    margin: 15px 0;
    height: 50px;
    width: 50px;
    font-size: 40px;
    display: inline;
}
.newlist {
    background-color: black;
    width: 200px;
    font-size: 24px;
    border: none;
}
.install-app {
    margin-left: 40px;
    border-bottom: solid 1px gray;
    width: 265px;
}
.install-app img, .install-app p {
    display: inline;
}
.install-app img {
    height: 30px;
}
.install-app p {
    font-size: 20px;
}
.profile img, .profile p {
    display: inline;
    font-size: 26px;
    color: white;
}
.profile {
    position: r;
    padding-top: 10px;
}
.profile p {
    padding-left: 15px;
}




/* HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}
header {
    background-color: rgb(24, 24, 24);
    grid-area: header;
    place-items: center end;
    height: 100px;
    padding-right: 40px;
    margin-left: -60px;
}
header > button {
    width: 400px;
    height: 70px;
    border: solid white 2px;
    border-radius: 35px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 22px;
    font-weight: bold;
}


/* MAIN */

main {
    background-color: rgb(20, 21, 30);
    grid-area: main;
    overflow: scroll;
    padding-left: 60px;
    grid-template-rows: repeat(auto-fit, auto);
}
main h2 {
    margin: 60px 0;
    color: white;
    font-size: 38px;
    font-weight: bold;
}

/* NAVIGATION */

.genres {
    grid-template-columns: repeat(auto-fit, 250px);
    place-items: center;
    margin: 50px 0px 20px;
    row-gap: 30px;
}
.genres > a {
    height: 30px;
    font-size: 24px;
    font-weight: 550;
}

/* ALBUMS */
.recently-played {
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 20px;
}
.recentitem, .foryou, .newsong {
    grid-template-rows: 350px auto auto;
    width: 350px;
}
.recentitem img, .foryou img, .newsong img {
    height: 350px;
}
h3 {
    color: white;
    font-size: 26px;
    text-align: center;
    padding: 10px 0;
}
.recentitem p, .madeforyou p, .newsong p {
    text-align: center;
    font-size: 22px;
}

/* AUDIO SECTION */

.audio {
    grid-area: audio;
    background-color: rgb(51, 51, 51);
    place-items: center;
    grid-template-columns: 160px 112px 1fr 8fr 300px;
}
.audio svg {
    width: 40px;
    margin-right: 20px;
}
/* ALBUM */
.album img {
    display: inline-block;
    width: 100px;
}
.album-name h3, .album-name p {
   align-self: start;
}
/* AUDIO BAR */
.playbar {
    grid-template-rows: 100px 100px;
    grid-template-columns: 100%;
    width: 100%;
    justify-content: center;
}
.top {
    place-self: center;
    /* width: 100%; */
}
.top svg {
    margin: 0 20px;
}
.bottom {
    margin-top: 25px;
    height: 40px;
}
.bottom p, .bottom input {
    display: inline;
    color: white;
    font-size: 18px;
}
.bottom input {
    width: 80%;
}
.audio-right {
    place-content: start;
}
.audio-right svg, .audio-right input {
    height: 80px;
    margin-right: 0;
}


/* AFTER EFFECTS */

.cool-border {
    position: relative;
}
.cool-border:hover::after, .cool-border:focus::after {
    content: "";
    position: absolute;
    background-color: yellow;
    width: 45%;
    height: 4px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.small-logo {
    display: none;
}
#home:hover, #search:hover, #library:hover, #home:focus, #search:focus, #library:focus {
    border-left: 4px solid yellow;
}
@media screen and (max-width: 1100px){
    .container {
        grid-template:
        "left  main"   calc(100vh - 200px)
        "audio audio" 200px /
        70px   1fr;
    }
    .playlist, nav label, .playlist-list, .install-app > p, .profile p {
        display: none;
    }
    .p {
        padding-left: 13px;
    }
    .left {
        grid-template-rows: 100px 180px 1fr 80px;
    }
    .install-app {
        margin: 0;
        border: none;
        padding-left: 13px;
        align-self: end;
    }
    .main-logo {
        width: 90px;
    }
    .main-logo > img {
        display: none;
    }
    .small-logo {
        display: inline;
        height: 60px;
        width: 60px;
        padding-left: 13px;
    }
    .audio {
        grid-template-columns: 80px 112px 1fr 8fr 300px;
    }
    .album img {
        width: 50px;
    }
}