/* logo and brand name size */
header svg {
    margin: 20px;
    margin-top: 10px;
    width: 35px;
    margin-left: 10px;
    margin-right: 0px;
}

header h1 {
    font-size: 25px;
    margin-top: 14px;
    margin-right: 40px;
}
/* logo and brand name size */

.space {
     /* height: 200px; */
}

/* .nav-icons {
    height: 48px;
    width: 60px;
} */


/* nav {
    position: fixed;
    bottom: 0;
    z-index: 1;
} */

.left-nav {
    margin-bottom: 32px;
  }

.nav-icons-item {
    color: #acacac;
  
    margin-bottom: 10px;
  
    font-weight: 600;
    margin-bottom: 18px;
  }

.user-profile {
    padding-right: none;
    margin-right: none;
    font-size: 15px;

}

nav a {
    text-decoration: none;
    list-style: none;
    color: white;
}

li {
    list-style-type: none;
    text-decoration: none;
}

ul {
    padding-inline-start: 10px;
}

/* column 2 boxes in the first row of the spotify page */
.column-2-box-1 {
    /* height: 50px; */
    background-color: #070b13;
    max-height: ;
}


.membership-upgrade {
    padding: 30px;
    text-align: center;
    /* padding-bottom: 0; */
    padding-left: 0;
}


.membership-upgrade-border {
    border: 2px solid white;
    border-radius: 40px;
    width: 300px;
    height: 50px;
    color: white;
    text-align: center;
    padding: 12px;
}

.column-2-box-2 {
    background-color: #131923;
}

.recently-played-text {
    color: white;
    margin-left: 20px;
}

.card-1 img {
    width: 150px;
    margin-left: 10px;
}

.card-1 {
    height: 100%;
    /* height: 200px; */
    max-width: 200px;
}

.card-2 {
    height: 100%;
    /* height: 200px; */
    max-width: 200px;
}

.card-2 img {
    width: 150px;
    margin-left: 10px;
    border-radius: 90px;
}

/* h3 {
    display: inline-block;
} */

.album-cover {
    width: 100%;
    height: auto;
  
    display: grid;
    place-content: center;
  
    overflow: hidden;
}

.centered-text {
    text-align: center;
}

.text {
    color: white;
    /* margin-left: 33px; */
    border: 10px;
    
}

.grey-text {
    color:#acacac;
    /* margin-left: 33px; */
}

a {
    text-decoration: none;
}


.column-2-box-3 {
    background-color: #131923;
}

.column-2-box-4 {
    background-color: #131923;
}

.column-2-box-5 {
    background-color: #131923;
}

.column-2-box-6 {
    background-color: #131923;
}

.column-2-box-7 {
    background-color: #131923;
}

.column-2-box-8 {
    background-color: #131923;
}

footer {
    background-color: #282828;
}

/* column 2 boxes in the first row of the spotify page */


/* ---- FOOTER STARTS ---- */

footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid #5d5c5c46;
}

.folder-icon {
    color: #acacac;
}

.currently-playing-img {
    width: 48px;
    height: 48px;
    margin-left: 20px;
}

.artist {
    display: block;

    margin-right: 16px;

    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    text-decoration: none;
}

.track {
    font-size: 12px;
    color: #acacac;
    margin-left: 10px;
    text-decoration: none;
}

.footer-button {
    background-color: #282828;
    border-style: none;

    color: #acacac;
}

.player-section {
    color: #acacac;
    font-size: 15px;
    font-weight: 600;
}

.track-controls {
    /* height: 2px; */

    margin-top: 8px;
}

.footer-player-button {
    height: 36px;
    width: 36px;
}

#player-button {
    height: 32px;
    width: 32px;

    background-color: white;
    border-radius: 50%;
}

.player-section input[type="range"] {
    width: 625px;
}

input[type="range"] {
    /* -webkit-appearance: none; */
    width: 100px;
    height: 4px;

    background: #535353;
    border-radius: 5px;
    background-image: linear-gradient(#b3b3b3, #b3b3b3);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

/* doesn't seem to work */
input[type="range"]:hover {
    background-image: linear-gradient(#1db954, #1db954);
}


/* ---- FOOTER ENDS ---- */