@import "./grid";
@import "./navigation";
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(163, 163, 163);
}

img {
  width: 100%;
  object-fit: cover;
}
