@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: black;
    display: grid;
    width: 100%;
    color: darkgrey;
}

a {
    text-decoration: none;
    color: lightgrey;
}

li {
    list-style: none;
    padding: 10px 0px;
    color: darkgrey;
}

header {
    background: black;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

header a button {
    margin-top: 20px;
    margin-right: 20px;
    padding: 1rem;
    background: none;
    color: white;
    border: 2px solid lightgrey;
    border-radius: 50px;
    font-size: 0.75rem;
    float: right;
    cursor: pointer;
}

header a button:hover {
    color: white;
    border-color: 3px solid white;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.75s;
}

#logo {
    display: grid;
    place-items: center;

    width: 180px;
    background: black;
}

main {
    display: grid;
    grid-template-columns: 180px 1fr;
}

aside {
    height: calc(100vh - 150px);
    background: black;
    padding-left: 20px;
    position: sticky;
    top: 75px;
    display: grid;
    grid-template-rows: max-content max-content 1fr max-content;
}

.menu-items {
    display: flex;
    place-items: center;
    padding-bottom: 10px;
}

#aside-menu {
    padding-bottom: 20px;
}

#playlist h2 {
    font-size: 1rem;
    padding-left: 10px;
}

#download {
    padding-bottom: 10px;
    margin-right: 20px;
    /* border-bottom: 1px solid grey; */
}

#download a {
    text-decoration: none;
    display: flex;
    vertical-align: center;
}

#download p {
    display: inline;
    padding-left: 10px;
}

#download a p:hover {
    color: white;
    transition: 0.75s;
}

#profile {
    padding-top: 10px;
    margin-bottom: 25px;
}

#profile>a>img {
    padding: 1px;
    background: grey;
    border-radius: 50%;
}

#aside-bottom {
    padding-bottom: 10px;
}

#main-feed {
    display: grid;
    grid-template-rows: 60px repeat(3, minmax(200px, max-content));
    padding: 10px 0px 20px 0;
}

#music-genres {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#select-menu {
    display: flex;
    margin: auto;
}

#genres-menu {
    display: flex;
    margin: auto;
}

select {
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px 10px 10px;
}

#genres-menu ul a {
    text-decoration: none;
}

#genres-menu ul li {
    display: inline;
    padding: 10px;
}

#genres-menu ul li a {
    color: white;
    border-bottom: 1px solid lightgreen;
    transition: 1s;
}

#recent h2 {
    padding-left: 20px;
}

#recent-albums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(197px, max-content));
    margin: 1rem 0rem;
}

.album-boxes {
    text-align: center;
    margin-bottom: 2rem;
}

.album-boxes img:hover {
    opacity: 0.4;
    transition: 0.5s;
}

#recent-albums h3 {
    width: 20ch;
    font-size: 0.85rem;
    text-align: center;
    padding: 8px 0px;
}

#suggestions h2 {
    padding-left: 20px;
}

#suggestions>p {
    padding: 10px 0px 20px 20px;
}

#uniquely-yours h2 {
    padding-left: 20px;
}

#uniquely-yours>p {
    padding: 10px 0px 20px 20px;
}

.suggested {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(197px, max-content));
    place-content: center start;
    margin-bottom: 2rem;
}

.suggested h3 {
    font-size: 0.85rem;
    text-align: center;
    margin-top: 1rem;
}

.center__grid {
    display: grid;
    place-items: center;
}

.align-right__grid {
    display: grid;
    place-items: right;
}

.auto-column-grid {
    display: grid;
    grid-auto-flow: column;

    place-items: center;
}

.two-column-grid__expand-one-and-three {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.three-column__expand-two {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.two-row-grid__expand-one {
    display: grid;
    grid-template-rows: 1fr auto;
}

.gap-xs {
    gap: 3px;
}

.gap-sm {
    gap: 12px;
}

@media screen and (max-width: 1280px) {
    .three-column-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

footer {
    padding: 8px 16px 16px 16px;

    position: sticky;
    bottom: 0;
    z-index: 1;

    height: 90px;
    background-color: black;
    border-top: 1px solid #5d5c5c46;
}

.footer__artist {
    display: block;

    margin-right: 16px;

    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}

.footer__track {
    color: darkgrey;
    font-size: 0.6rem;
}

.footer__artist:hover,
.footer__track:hover {
    text-decoration: underline;
}

.footer__option-btn {
    background-color: black;
    border-style: none;

    color: darkgrey;
}

.footer__option-btn:hover {
    color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100px;
    height: 4px;

    background: grey;
    border-radius: 5px;
    background-image: linear-gradient(lightgrey, lightgrey);
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }

  .footer__player-section input[type="range"] {
    width: 625px;
  }

  input[type="range"]:hover {
    background-image: linear-gradient(lightgreen, lightgreen);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: black;
  }

  @media screen and (min-width: 906px) {
    #music-genres {
        display: flex;
        margin: auto;
    }

    #select-menu {
        display: none;
    }

    .logo-responsive {
        display: none;
    }
}

@media screen and (max-width: 905px) {
    #music-genres {
        display: flex;
        margin: auto;
    }

    #genres-menu {
        display: none;
    }

    #upgrade-button {
        display: flex;
        justify-content: center;
    }

    .logo-responsive {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    #main-page {
        margin: auto;
    }

    #recent h2 {
        padding-left: 0;
        text-align: center;
    }

    #suggestions h2 {
        padding-left: 0;
        text-align: center;
    }

    #suggestions p {
        padding: 1rem;
        text-align: center;
    }

    .logo-responsive {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    #left-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        margin-right: 5px;
    }

    #current-song {
        display: flex;
        flex-direction: column;
    }

    .logo-responsive {
        display: flex;
    }

    #logo {
        display: flex;
        place-items: center;
        justify-content: center;
        width: 5rem;
        background: black;
    }

    main {
        display: grid;
        grid-template-columns: 5rem 1fr;
    }

    #profile h2,
    #download p,
    .logo-main,
    .menu-item a,
    #playlist h2,
    #your-playlists ul,
    #create-playlist img,
    #create-playlist a {
        display: none;
    }

    .menu-items img {
        display: flex;
        place-items: center;
    }

    aside {
        height: calc(100vh - 160px);
        background: black;
        position: sticky;
        top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
    }
}