@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}
h1{
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: 225px 4fr;
    grid-template-rows: 75px 4fr 125px;
    height: 100%;
    width: 100%;
    font-family: proxima_nova_rgregular;
}

.left-menu-top {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    gap: 15px;
    font-size:13px;
    padding: 15px; 
    min-width: 80%;
    z-index: 999;
}

#logo-large {
    grid-column: 1 / span 3;
    padding-bottom: 20px;
}

#logo-small {
    width: 30px;
}

.icons {
    width: 30px;
    grid-column: 1;
    grid-row: 3 / auto;
}

.home-link {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    color: white;
    text-decoration: none;
} 

.playlist-menu {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    gap: 15px;
}

.playlist-item {
    padding-top: 10px;
    font-weight: 600;
}

#shove {
    flex-grow: 1;
}

.left-bottom-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
    color: white;
    text-decoration: none;
}

.left-bottom-menu-download,
.left-bottom-menu-profile {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: start;
    color: white;
    text-decoration: none;
}

hr {
    height:1px;
    border-width:0;color:gray;
    background-color:rgb(90, 90, 90);
}

.download-icon {
    width: 20px;
}

.profile-icon {
    width: 30px;
    border-radius: 50%;
    background-color:rgb(141, 134, 134);
}

.top-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    background-color:black;
    grid-column: 2;
    background-color: #181818;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    width: 100%;
}

#subscribe-button {
    border: solid 1px white;
    padding:10px 30px 10px 30px;
    border-radius: 25px;
    font-size: 12px;
}

main {
    display: grid;
    grid-column: 2;
    grid-row:2;
    background-color:#121212;
    color: white;
    gap: 30px;
    padding-bottom: 125px;
    overflow-y: scroll;
}

.main-top-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:15px;
    width: 100%;
    gap: 45px;
    color: #8d8686;
}

.recently-played,
.created-for-you,
.popular-artists  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding-left: 25px;
    font-family: 'proxima_nova_rgbold';
}

.album {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    color: #8d8686;
}

.album-one{
    float:left;
    position:relative;
}
.album-one:hover .play {display:block}
.play {
  position : absolute;
    display:none;
    top:20%; 
    width:150px;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100
}

.album >h3 {
    color: white;
    font-family: 'proxima_nova_rgbold';
}

.card {
    width: 300px;
    height: 300px;
}

.card-circle {
    border-radius:50%;
    width: 300px;
}

.albums-popular,
.albums-for-you,
.albums-recent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    padding: 15px 0px 0px 25px;
    width: 100%;
}

footer {
    grid-column: 1 / span 3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #181818;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 125px;
    z-index: 1000;
}

.now-playing {
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#now-playing-image {
    width: 60px;
    padding: 20px 0px 20px 20px;
}

.now-playing-info {
    color:#8d8686;
}

.now-playing-info >h4 {
    color:white;
}

.player-controls {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}



.progress {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
    color:dimgray;
    gap: 20px;
}

#progressBar {
    background-color: #8d8686;
    width: 50%;
    height:5px;
    border-radius: 5px;
}

.right-player-items {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    gap: 30px;
}

#volumebar {
    background-color: #8d8686;
    width: 50%;
    height:5px;
    border-radius: 5px;
}

@media screen and (min-width: 600px) {

    #logo-small {
      display: none;
    }
  
  }
  
  @media screen and (max-width: 600px) {
    #logo-large,
    .playlists-menu,
    .left-menu-top h3,
    .left-bottom-menu,
    .playlist-item,
    h4 {
      display: none;
    }
    .left-menu-top {
      grid-template-rows: 70px 1fr 125px;
    }
    body {
      grid-template-columns: 65px 1fr;
    }
  }