* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background: black; */
  }

  html, body {
    height: 100vh;
    overflow: hidden;
  }

  /* Whole page styling is above. */

  .whole-page-grid {
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-template-rows: 100vh 100vh;
    grid-template-areas: "left-menu main-view"
                         "footer footer";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main-section {
    grid-area: main-view;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7vh repeat(2, 3vh) 26vh 5vh 26vh 5vh 20vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
}


/* End of Grid section. */

/* Left-Menu begins */

.left-menu {
    background-color: #000000;
    grid-area: left-menu;
    display: grid;
    grid-template-rows:repeat(14,1fr);
}

.logo img {
    height: 60px;
    width: 200px;
    padding-left: 10px;
    padding-top: 5px;
    color: black;
}

.home-button {
    color: white;
    font-size: 15px;
    display: grid;
    grid-template: 1fr/ 32px 1fr;
    align-items: center;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 20px;
}

.search-button {
    color: white;
    font-size: 15px;
    display: grid;
    grid-template: 1fr/ 32px 1fr;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 20px;
}

.your-library {
    color: white;
    font-size: 15px;
    display: grid;
    grid-template: 1fr/ 32px 1fr;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 20px;
}

.create-playlist {
    list-style: none;
    color: white;
    padding-left: 20px;
    padding-top: 9px;
    display: grid;
    grid-template: 1fr/ 32px 1fr;
    align-items: center;
}   

.new-playlist {
    color: white;
    padding-left: 20px;
    padding-top: 20px;

}

.install-username {
    color: white;
    padding-left: 20px;
    padding-top: 100px;
}

/* Left-Menu ends. */

/* Main section begins. */


   /* Upgrade button and top bar */

.upgrade-container {
    background-color: black;
    padding-left: 78vw;
    padding-top: 2vh;
}

.upgrade-container a {
    color: black;
    border: 2px silver solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 30px;
    text-decoration: none;
    background: silver;
}

    /* Options menu */

.options-menu {
    background: rgb(41, 41, 46);
    display: grid;
    grid-template-columns: repeat(8, 120px);
    justify-content: center;
    font-size: 15px;
    align-items: center;
}

.options-menu h4 {
    display: grid;
    justify-content: center;
    color: silver;
    padding-top: 1vh;
}
    /* Recently played & Albums */

.recently-played .title {
    color: white;
    background-color: rgb(41, 41, 46);
    font-size: 15px;
    padding-bottom: 5px;
    display: grid;
    padding-left: 5px;
}

.albums {
    display: grid;
    grid-template-columns: repeat(6, 14.5vw);
    justify-content: center;
    background-color: rgb(41, 41, 46);
    padding-top: 5px;
    padding-left: 10px;
}

.albums img {
    width: 10vw;
    height: 20vh;
}

.albums p {
    font-size: 0.9rem;
    display: grid;
    justify-content:center;
    color: white;
    padding-left: 0vw;
    padding-right: 4.3vw;
    padding-top: 4px;
}
    /* Musical Genius section */

.created-by-Jack-section .title-blurb {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 25px;
    grid-gap: 10px;
    justify-content: left;
    background-color: rgb(41, 41, 46);
}

.created-by-Jack-section .title-blurb h2 {
    color: white;
    font: 15px;
    padding-top: 10px;
    padding-left: 5px;
}

.created-by-Jack-section .title-blurb p {
    color: silver;
    padding-top: 16px;
}

.created-albums {
    display: grid;
    grid-template-columns: repeat(6, 14.5vw);
    justify-content: center;
    background-color: rgb(41, 41, 46);
    padding-top: 4vh;
    padding-left: 10px;
}

.created-albums img {
    width: 10vw;
    height: 20vh;
}

.created-albums p {
    font-size: 0.9rem;
    display: grid;
    justify-content:center;
    color: white;
    padding-left: 0vw;
    padding-right: 4.3vw;
    padding-top: 4px;
}

/* Popular Artists section */

.popular-artists {
    display: grid;
    grid-template-columns: repeat(2, 14.5vw);
    justify-content: left;
    background-color: rgb(41, 41, 46);
    padding-top: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.PA-title-blurb {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 25px;
    grid-gap: 10px;
    justify-content: left;
    background-color: rgb(41, 41, 46);
}

.PA-title-blurb h2 {
    color: white;
    font: 15px;
    padding-top: 2vh;
    padding-left: 5px;
}

.PA-title-blurb p {
    color: silver;
    padding-top: 2.8vh;
}

.popular-artists img {
    width: 10vw;
    height: 20vh;
    padding-top: 4vh;

}

/* Footer section */

.footer-bar {
    grid-area: footer footer;
    display: grid;
    grid-template-columns: 200px 1100px 200px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: sticky;
    background-color: silver;
    bottom: 0;
    border: 0;
}

.middle-footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
}

.footer-bar img {
    height: 40px;
    width: 40px;
}