// STYLES FOR HEADER

.header {
  display: grid;
  place-items: center;
  background-color: $color-spotify-header;

  position: fixed;
  top: 0;
  width: 100%;
  height: 10rem;

  z-index: 999;

  &__arrow-left {
    margin-left: 20rem;
  }
  &__arrow-left img,
  &__arrow-right img {
    height: 2rem;
    width: auto;
    margin: 1rem;
  }

  &__sign-up a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 100;

    transition: all 0.2s;

    &:hover {
      transform: scaleX(1.1) scaleY(1.1);
    }
    &,
    &:link,
    &:visited {
      color: $color-spotify-white;
    }
  }

  &__sign-up,
  &__button-container,
  &__burger-svg {
    margin: 0 2rem;
  }
}
