.main {
  padding: 1.7rem 2.8rem;
  background: linear-gradient(
    120deg,
    rgba(33, 33, 33, 1) 42%,
    rgba(18, 18, 18, 1) 75%
  );
  height: calc(100vh - 8.2rem);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
