.main-header {
}

.arrows-container {
  width: 9rem;
  display: flex;
  justify-content: space-between;
}
.arrows {
  height: 3.5em;
  width: 3.5rem;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  img {
    height: 60%;
  }
  &:hover {
    transform: scale(1.05);
    background-color: #141212;
    transition: all 0.2s;
  }
}

.upgrade-btn {
  color: white;
  font-weight: 600;
  letter-spacing: 0.2rem;
  background-color: #0a0a0a;
  padding: 0.85rem 2.2rem;
  font-size: 1.2rem;
  border-radius: 200px;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.575);
  margin-right: 3rem;
  &:hover {
    transform: scale(1.05);
    background-color: #141212;
    transition: all 0.2s;
    cursor: pointer;
  }
}

.account {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #0a0a0a;
  border-radius: 200px;
  padding-right: 1rem;
  &-img {
    height: 3rem;
    width: 3rem;

    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &-name {
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
  }

  &:hover {
    cursor: pointer;
    background-color: #2b2a2a;
  }
}

.fa-sort-down {
  color: white;
  font-size: 1.6rem;
  align-self: center;
  transform: translateY(-3px);
}
