.main-card {
  &-header {
    margin: 4rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h2 {
      color: white;
      font-weight: 700;
      font-size: 2.2rem;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .see-all {
      color: $color-darkgrey;
      font-weight: 700;
      font-size: 1.3rem;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .small-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
    .small-card {
      padding: 1.4rem;
      background-color: #242323;
      width: 100%;
      @include respond(phone) {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      border-radius: 8px;
      &-image {
        // height: 15rem;

        // border-radius: 8px;
        position: relative;
        width: 100%;
        height: auto;

        display: grid;
        place-content: center;
        img {
          // height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      &-title {
        color: white;
        font-size: 1.4rem;
        font-weight: 700;
        margin-top: 1.2rem;
      }
      &-details {
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-darkgrey;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }
      &:hover {
        cursor: pointer;
        background-color: #3f3d3d94;
        transition: all 0.6s;
      }

      &:hover .play-button-overlay {
        top: 50%;
        right: 10%;
        opacity: 1;
        transition: all 0.3s;
      }
    }
    @include respond(phone) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  .play-button-overlay {
    width: 4rem;
    height: 4rem;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    top: 70%;
    right: 10%;
    opacity: 0;
    transition: all 0.3s;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.main-card-2 {
  .small-cards-container {
    .small-card {
      &-image {
        img {
          border-radius: 50%;
        }
      }
    }
  }
}

.friend-card {
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem 0rem;

  &-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;

    i {
      font-size: 2rem;
      color: white;
    }

    .blue-dot {
      position: absolute;
      height: 0.7rem;
      width: 0.7rem;
      border-radius: 50%;
      background-color: rgb(0, 153, 255);
      top: 10%;
      right: 10%;
    }
  }

  .line-large {
    height: 0.8rem;
    width: 8rem;
    background-color: #212121;
    border-radius: 200px;
  }

  .line-small {
    height: 0.8rem;
    width: 6rem;
    background-color: #212121;
    border-radius: 200px;
  }

  &-stat {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
  }
}
