@use "../base/screens" as screens;
.nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1em;
	background-color: black;
	gap: 1em;

	@media (max-width: screens.$xs) {
		align-items: center;
		width: 5em;
	}
	height: 90svh;
	width: 15vw;
	position: relative;

	&__logo {
		height: 5svh;
		background: url("/assets/img/logo.svg") no-repeat;
		width: 100%;
		position: relative;
		top: 0em;
		left: 0.5em;

		@media (max-width: screens.$xs) {
			background: url("/assets/img/logo-small.svg") no-repeat;
		}
	}

	@mixin turnGray() {
		filter: grayscale(100%) brightness(40%);

		&:hover {
			filter: grayscale(100%) brightness(100%);
		}
	}

	&__links {
		font-size: 1.25rem;
		display: flex;
		flex-direction: column;
		place-items: center;
		place-content: center;
		width: 100%;
		gap: 0.5em;

		& a {
			padding-left: 1rem;
			display: flex;
			align-items: center;
			gap: 0.5em;
			color: #777;
			width: 100%;

			& img {
				max-height: 1.5em;
				@include turnGray();
			}

			@media (max-width: screens.$xs) {
				& span {
					display: none;
				}
			}
		}

		& a:hover,
		& a.selected {
			color: #ccc;
			border-left: 2px solid yellowgreen;
			& img {
				filter: grayscale(100%) brightness(100%);
			}
		}
	}

	&__playlists {
		@media (max-width: screens.$xs) {
			display: none;
		}
	}

	& footer {
		position: absolute;
		bottom: 1em;
		right: 1em;
		left: 1em;
		display: flex;
		flex-direction: column;
		gap: 0.75em;

		color: #eee;

		& hr {
			border: 1px solid #777;
		}
	}

	&__download,
	&__profile {
		display: flex;
		align-items: center;

		font-size: 1.2rem;
		gap: 0.5em;

		& img {
			max-height: 2em;
		}

		@media (max-width: screens.$xs) {
			& span {
				display: none;
			}
		}
	}

	&__download {
		@include turnGray();
	}
	&__profile {
		& img {
			border-radius: 100%;
		}
	}
}
