@media screen and (max-width: 1000px) {
  .music-list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .music-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
