/* DELETE LATER */
.bd-red {
  border: red 1px solid;
}

.bd-green {
  border: green 1px solid;
}

.bd-blue {
  border: blue 1px solid;
}

/* --- COLOR --- */
html {
  --main-clr: rgb(20, 25, 34);
  --sub-clr: rgb(8, 11, 18);
  --third-clr: rgb(40, 40, 40);
  --accent-clr: rgb(98, 228, 23);
  --main-text-clr: white;
  --sub-text-clr: rgb(135, 135, 138);
}

/* --- BASE STYLES --- */

main {
  height: 90vh;
}

aside {
  width: calc(100vw - 90vw);
  color: white;
  background-color: black;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

aside a {
  color: var(--sub-text-clr);
}

aside p {
  margin: 0;
  font-size: 0.8rem;
}

aside a:hover {
  color: var(--text-clr);
}

header {
  height: 50px;
  display: grid;
  justify-content: end;
  background-color: var(--sub-clr);
}

h2 {
  color: var(--main-text-clr);
}

footer {
  height: 10vh;
  background-color: var(--third-clr);
}

p {
  margin: 3px 0;
}

/* --- MAIN STYLES --- */
/* Aside left menu bar*/
.logo {
  margin: 8px;
  width: 80%;
}

.menu-bar {
  gap: 5px;
  padding-left: 8px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  font-weight: 500;
}

.menu-bar:hover {
  border-left: 3px solid var(--accent-clr);
}

.menu-bar > img {
  width: 25px;
}

.menu-bar button {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 1.5rem;
  color: black;
  background-color: var(--sub-text-clr);
  border: none;
}

h3 {
  margin: 0;
  padding: 8px;
  font-size: 1rem;
}

.download {
  margin-bottom: 5px;
  gap: 5px;
}

.download-icon {
  width: 15px;
}

.profile-container {
  margin-top: 5px;

  border-top: var(--sub-text-clr) 1px solid;
}

.profile-container img {
  width: 20px;
  height: 20px;
  background-color: var(--sub-text-clr);
  border: none;
  border-radius: 50%;
}
.profile-container h3 {
  color: var(--main-text-clr);
}

/* Main */
.main-container {
  width: 90vw;
  background-color: var(--main-clr);
}

.main-container img {
  max-width: 150px;
}

header a {
  width: 200px;
  margin: 8px;
  font-size: 0.8rem;
  color: var(--main-text-clr);
  border: var(--sub-text-clr) 1px solid;
  border-radius: 30px;
}

header a:hover {
  border: var(--main-text-clr) 1px solid;
}

nav {
  width: 40vw;
  padding: 10px;
}

.nav-bar-container {
  height: 70px;
}

.nav-bar-container a {
  color: var(--sub-text-clr);
  font-size: 0.8rem;
  font-weight: 600;
}

.nav-bar-container a:hover {
  color: var(--main-text-clr);
}

/* Recently Played */
.music-list {
  padding: 8px;
  height: 73vh;
  overflow: scroll;
}

.recently-played p,
.made-for-you p,
.popular-artists p {
  color: var(--sub-text-clr);
  font-size: 0.8rem;
  text-align: center;
}

.recently-played span,
.made-for-you span,
.popular-artists span {
  color: var(--main-text-clr);
  font-weight: 600;
}

/* Popular Artists */
.popular-artists img {
  border-radius: 50%;
}

/* Footer */

.playing,
.option-bar {
  padding: 8px;
  gap: 10px;
}

footer img {
  width: 16px;
}

footer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.playing-title p {
  color: var(--sub-text-clr);
  font-size: 0.7rem;
}

.playing-title span {
  color: var(--main-text-clr);
  font-weight: 600;
}

.icon-container {
  gap: 8px;
}

.playing-bar {
  width: 400px;
  gap: 8px;
}

footer input {
  appearance: none;
  height: 2px;
  background: var(--sub-text-clr);
  border-radius: 2px;
  outline: none;
  opacity: 0.7;
}

footer input::-webkit-slider-thumb {
  appearance: none;
  height: 2px;
  background: var(--main-text-clr);
  cursor: pointer;
}
