/* DELETE LATER */
.bd-red {
  border: red 1px solid;
}

.bd-green {
  border: green 1px solid;
}

.bd-blue {
  border: blue 1px solid;
}

/* --- COLOR --- */
html {
  --main-clr: rgb(20, 25, 34);
  --sub-clr: rgb(8, 11, 18);
  --third-clr: rgb(40, 40, 40);
  --accent-clr: rgb(30, 215, 97);
  --main-text-clr: white;
  --sub-text-clr: rgb(135, 135, 138);
}

/* --- BASE STYLES --- */

main {
  min-height: 90vh;
}

aside {
  width: calc(100vw - 90vw);
  color: white;
  background-color: black;
}

header {
  height: 50px;
  display: grid;
  justify-content: end;
  background-color: var(--sub-clr);
}

footer {
  height: 10vh;
  background-color: var(--third-clr);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 3px 0;
  font-size: 0.8rem;
}

h2 {
  color: var(--main-text-clr);
}

h3 {
  margin: 0;
  padding: 8px;
  font-size: 1rem;
}

/* --- MAIN STYLES --- */
/* Aside left menu bar*/
aside a {
  color: var(--sub-text-clr);
}

aside a:hover {
  color: var(--text-clr);
}

.logo {
  margin: 8px;
  width: 80%;
}

.menu-bar {
  gap: 5px;
  padding-left: 8px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  font-weight: 500;
}

.menu-bar:hover {
  border-left: 3px solid var(--accent-clr);
}

.menu-bar > img {
  width: 25px;
}

.menu-bar button {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 1.5rem;
  color: black;
  background-color: var(--sub-text-clr);
  border: none;
}

.download {
  margin-bottom: 5px;
  gap: 5px;
}

.download-icon {
  width: 15px;
}

.profile-container {
  margin-top: 5px;
  border-top: var(--sub-text-clr) 1px solid;
}

.profile-container img {
  width: 20px;
  height: 20px;
  background-color: var(--sub-text-clr);
  border: none;
  border-radius: 50%;
}

.profile-container h3 {
  color: var(--main-text-clr);
}

/* Main */
.main-container {
  width: 90vw;
  background-color: var(--main-clr);
}

.main-container img {
  max-width: 150px;
}

header a {
  width: 200px;
  margin: 8px;
  font-size: 0.8rem;
  color: var(--main-text-clr);
  border: var(--sub-text-clr) 1px solid;
  border-radius: 30px;
}

header a:hover {
  border: var(--main-text-clr) 1px solid;
}

/* Nav bar */
nav {
  width: 40vw;
  padding: 10px;
}

.nav-bar-container {
  height: 70px;
}

.nav-bar-container a {
  color: var(--sub-text-clr);
  font-size: 0.8rem;
  font-weight: 600;
}

.nav-bar-container a:hover {
  color: var(--main-text-clr);
}

/* Music List */
.music-list {
  padding: 8px;
  height: 73vh;
  overflow: scroll;
}

.music-list p {
  color: var(--sub-text-clr);
  font-size: 0.8rem;
  text-align: center;
}

.music-list li {
  width: 150px;
}

.music-list a {
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  width: 80px;
  top: 40px;
  left: 40px;
}

.music-list a:hover .overlay {
  display: block;
}

.music-list span {
  color: var(--main-text-clr);
  font-weight: 600;
}

.popular-artists img {
  border-radius: 50%;
}

/* Footer */
footer img {
  width: 16px;
}

footer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

footer input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: var(--sub-text-clr);
  border-radius: 10px;
}

footer input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  -webkit-appearance: none;
  color: var(--accent-clr);
}

footer input[type="range"]::-webkit-slider-thumb {
  width: 0.1px;
  -webkit-appearance: none;
  height: 3px;
  cursor: pointer;
  background: #434343;
  box-shadow: -200px 0 0 200px var(--accent-clr);
}

.playing,
.option-bar {
  padding: 8px;
  gap: 10px;
}

.playing-title p:hover {
  text-decoration: underline;
  color: var(--main-text-clr);
}
.playing-title p {
  color: var(--sub-text-clr);
  font-size: 0.7rem;
}

.playing-title span {
  color: var(--main-text-clr);
  font-weight: 600;
}

.icon-container {
  gap: 8px;
}

.playing-bar {
  max-width: 400px;
  gap: 8px;
}
