/* DELETE LATER */
.bd-red {
  border: red 1px solid;
}

.bd-green {
  border: green 1px solid;
}

.bd-blue {
  border: blue 1px solid;
}

/* --- BASE STYLES --- */

main {
  height: 90vh;
}

aside {
  width: 200px;
  color: white;
  background-color: black;
}

aside ul {
  padding: 0;
  list-style: none;
}

footer {
  height: 10vh;
}

/* --- MAIN STYLES --- */
.aside-wrapper {
  width: 150px;
  height: 90vh;
}

.menu-bar {
  display: grid;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.menu-bar > img {
  width: 30px;
}

.menu-bar p {
  margin: 0;
}
